/* color palette from https://colorhunt.co/palette/fff2d8ead7bbbca37f113946 */

h1 {
  text-align: center;
  font-size: 3rem;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

/* FORM */
.Suscription-form {
  width: 100%;
  margin: -25px 0 0 0;
  background-color: #ead7bb;
  padding-bottom: 20px;
}

form {
  margin-top: 10px;
  width: 20%;
  margin: 0 auto 0 auto;
}

form input {
  font-size: 1rem;
  margin-top: 10px;
}

input [type="text"],
[type="email"],
[type="phone"] {
  display: block;
}

form button {
  font-size: 1rem;
}

input:invalid {
  border-color: red;
}

input:valid {
  border-color: green;
}

form a:link {
  color: blue;
  text-decoration: none;
}

form a:visited {
  color: purple;
  text-decoration: underline;
}

form a:hover {
  color: red;
}

form a:active {
  color: green;
}

/* TERMS AND CONDITIONS  */

/* :target p {
  color: #deebff;
} */

.terms-conditions {
  width: 100%;
  margin: -25px 0 0 0;
  background-color: #bca37f;
  padding-bottom: 40px;
  font-size: 0.5rem;
}
.terms-conditions-p {
  width: 120em;
  margin: 10px auto 10px auto;
  text-align: justify;
  text-justify: inter-word;
  font-family: monospace;
  font-size: 0.5rem;
}

.terms-conditions p:last-of-type {
  margin-bottom: 20px;
}

.terms-conditions p:first-of-type {
  color: #0747a6;
}

.terms-conditions:target {
  color: #deebff;
}

.terms-conditions ul {
  list-style: lower-greek;
}

.terms-conditions li:nth-child(odd)::marker {
  list-style: circle;
  color: #5e6c84;
}

.terms-conditions li {
  width: 30%;
  margin: 10px auto 10px auto;
}

/* NAVIGATION BAR  */
.nav-bar {
  background-color: #fff2d8;
  width: 100%;
  margin: -25px 0 0 0;
}

/* FOOTER */
footer {
  background-color: #113946;
  margin: -25px 0 0 0;
}

footer div {
  width: 60%;
  margin-left: auto;
  margin-top: auto;
}

footer span {
  color: #fff2d8;
  margin: 0 10px 0 10px;
  font-size: 1rem;
  text-align: center;
}
