* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(ima/dune.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
header img {
  width: 20px;
  transform: scale(1.4);
  cursor: pointer;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
}
header nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 20px;
  font-size: 16px;
}
.hover-n:hover {
  border-bottom: 1px solid #fff;
}
header nav a {
  color: #fff;
  text-decoration: none;
}
header ul {
  display: flex;
  list-style: none;
  gap: 30px;
  font-size: 16px;
}
.iconos-netflix {
  display: flex;
  gap: 20px;
}
.iconos-netflix i {
  color: #fff;
  cursor: pointer;
}
.login-netflix a {
  padding: 0 10px;
  color: #fff;
  text-decoration: none;
}

.menu-2,
.login-netflix li:nth-child(1):after {
  content: "/";
  color: #fff;
}
.login-netflix {
  display: flex;
}
section {
  display: flex;
  align-items: flex-end;
  height: 90vh;
}
.hijo1-netflix {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 60%;
  padding-left: 80px;
}
.dune-netflix {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.hijo1-netflix h1 {
  font-size: 90px;
  color: #fff;
}
.texto-netflix {
  display: flex;
  gap: 50px;
  color: #fff;
  font-size: 17px;
}
.texto-netflix i {
  padding-right: 5px;
  color: rgb(255, 208, 0);
}
.calificaciones {
  display: flex;
  align-items: center;
}
.calificaciones p:nth-child(2) {
  border-left: 1px solid #fff;
  font-size: 14px;
  font-weight: 100;
  padding-left: 5px;
}
.calificaciones p:nth-child(1) {
  padding-right: 5px;
}

.texto-pelicula {
  font-size: 17px;
  line-height: 25px;
  max-width: 610px;
  color: #fff;
}

.hijo2-netflix {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 40%;
}
.botones-netflix {
  display: flex;
  width: 100%;
  gap: 20px;
}
.botones-netflix button:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f58ff;
  color: #fff;
  width: 25%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
}
.botones-netflix button:nth-child(1):active {
  background-color: #1f57ffbb;
}
.botones-netflix button:nth-child(2):active {
  background-color: #363944e5;
}
.botones-netflix button:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #363944b6;
  color: #fff;
  padding: 18px 0;
  width: 25%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
}
.botones-netflix i {
  font-size: 15px;
  padding-right: 4px;
}

.posters h2 {
  font-size: 22px;
  font-weight: 200;
  color: #fff;
}
.imagenes-overflow {
  display: flex;
  overflow: hidden;
  margin-top: 10px;
  gap: 20px;
}

.imagenes-overflow img {
  width: 200px;
  height: 100px;
  border-radius: 20px;
  cursor: pointer;
}
.actores-perfil {
  display: flex;
  margin-top: 20px;
  gap: 30px;
}
.actores h2 {
  color: #fff;
}
.perfil {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.perfil img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
}
.perfil p {
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  margin-top: 5px;
}
.view {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #363944b6;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}
