body {
  margin: 0;
  padding: 0;
  background-color: #bbb9b9;
  font-family: sans-serif;
}

.calendario {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(5, 150px);
  width: 90%; /* Puedes ajustar el ancho según tus necesidades */
  margin: 20px auto;
  padding: 10px;
}

.calendario-celda {
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #c7c6c6;
  text-align: center;
  font-weight: bold;
}

.iconos-calendario {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: none;
  border-bottom: none;
  border-top: none;
}
.iconos-calendario:nth-child(1) {
  border: none;
}
.iconos-calendario i {
  font-size: 15px;
}
.iconos-calendario button {
  border: none;
  background-color: #eeeeee;
  padding: 20px 22px;
  border-radius: 50%;
  cursor: pointer;
}
.iconos-calendario button:active {
  background-color: rgba(190, 190, 190, 0.815);
}
.principal {
  border-top: 1px solid #c7c6c6;
  border-bottom: none;
  border-right: none;
  border-left: none;
  color: #575656;
}

.texto-calendario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  border: none;
}
.texto-calendario h2 {
  font-size: 15px;
  margin: 0;
  color: #575656;
}
.texto-calendario span {
  font-size: 40px;
  font-weight: 100;
}
.hora-calendario {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #575656;
  border: none;
}
.carta-azul {
  background-color: rgb(102, 218, 218);
}
.carta-morada {
  background-color: rgb(226, 189, 243);
}
.carta-verde {
  background-color: rgb(144, 233, 171);
}
.carta-naranja {
  background-color: #fad1b2;
}

.carta p {
  color: rgb(94, 0, 117);
}
.carta-morada p:nth-child(2) {
  color: rgb(158, 28, 190);
}
.carta-azul p:nth-child(1) {
  color: rgb(0, 60, 117);
}
.carta-naranja p:nth-child(2) {
  color: rgb(190, 101, 28);
}
.carta-naranja p:nth-child(1) {
  color: rgb(117, 66, 0);
}
.carta-azul p:nth-child(2) {
  color: rgb(18, 103, 114);
}
.carta-azul i {
  color: rgb(21, 114, 18);
}
.carta-verde p:nth-child(1) {
  color: rgb(3, 59, 10);
}
.carta-verde p:nth-child(2) {
  color: rgb(21, 114, 18);
}
.carta-agregar {
  background-color: #e4e4e4;
}
.carta-agregar {
  display: flex;
  justify-content: center;
}
.carta {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 85%;
  height: 95%;
  border-radius: 10px;
  cursor: pointer;
}
.carta:hover {
  position: relative;
  bottom: 25px;
  right: 25px;
  border: #bbb9b9 4px dashed;
  opacity: 0.8;
}
.carta img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.items-carta {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  margin: 0 15px;
}
.texto-carta {
  display: flex;
  text-align: start;
  gap: 10px;
  flex-direction: column;
  margin-left: 10px;
}
.texto-carta p:nth-child(1) {
  display: flex;
  font-size: 13px;
  margin: 0;
  padding-left: 10px;
}
.texto-carta p:nth-child(2) {
  font-size: 15px;
  padding-left: 10px;
  margin: 0;
  width: 70px;
}
