* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f6f6f6;
}
header {
  display: flex;
  flex-direction: column;
  width: 90%;
}
#header-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 70px;
  border-bottom: 1px solid #a1a1a1;
}
#header-1 img {
  width: 200px;
}

#header-1 ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  gap: 20px;
  font-weight: 700;
  width: 211px;
}

#header-1 li {
  cursor: pointer;
}

#header-1 ul button {
  padding: 10px 20px;
  background-color: #f6f6f6;
  border: 3px solid #d6d6d6;
  font-weight: 700;
  cursor: pointer;
}
.iconos-principales {
  display: flex;
  width: 211px;
  gap: 20px;
}
.navegador-new-york ul {
  display: flex;

  list-style: none;
  width: 100%;
  height: 70px;
}
.navegador-1 {
  display: flex;
  align-items: center;
  width: 100%;
}

.navegador-1 li {
  display: flex;
  justify-content: center;

  width: 100%;
}
.navegador-1 li a {
  color: #7a7a7a;
  text-decoration: none;
  cursor: pointer;
}
.navegador-1 a:hover {
  border-bottom: 1px solid #7a7a7a;
}
.navegador-1 a {
  border-bottom: 1px solid #f6f6f6;
}

.cuadro-negro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  color: #fff;
  padding: 20px;
  background-color: #000;
  cursor: pointer;
}

.Thursday {
  min-width: 100px;
  display: flex;

  justify-content: center;
  flex-direction: column;
}
.Thursday li:nth-child(1) {
  font-weight: 800;
}
article {
  width: 90%;
  margin-top: 30px;
}

.Business li a {
  cursor: pointer;
  text-decoration: none;
}
.lista-1 a {
  color: #7a7a7a;
}
.Business ul {
  display: flex;
  align-items: center;
  gap: 35px;
  list-style: none;
}
.grande a {
  font-size: 23px;
  font-weight: 800;
  border-bottom: none;
  color: #000;
}
.lista-1:hover {
  border-bottom: 1px solid #7a7a7a;
}
section {
  display: flex;
  margin-top: 30px;
}
.contenido-1 {
  width: 35%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  border-right: 1px solid #cac6c6;
}
.contenido-1 img {
  width: 40%;
}
.boton-contenido {
  display: flex;
  align-items: center;
  gap: 20px;
}
.boton-contenido p {
  font-size: 14px;
  font-weight: 700;
}
.boton-contenido button {
  color: #fff;
  padding: 8px 10px;
  background-color: #000;
  font-size: 13px;
  border: none;
  cursor: pointer;
}
.texto-contenido-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.texto-contenido-1 h2 {
  font-size: 25px;
  max-width: 350px;
}
.texto-contenido-1 p:nth-child(2) {
  color: #7a7a7a;
  max-width: 480px;
}
.opiciones {
  flex-shrink: 0;
  color: #7a7a7a;
  cursor: pointer;
  border-bottom: 1px solid #7a7a7a;
  padding-bottom: 5px;
}
.iconos-notas {
  display: flex;
  gap: 10px;
  align-items: center;
}
.iconos-notas i:nth-child(1) {
  font-size: 15px;
}
.iconos-notas i:nth-child(2) {
  color: #a1a1a1;
  font-size: 10px;
}
.iconos-notas i:nth-child(3) {
  color: #a1a1a1;
  font-size: 10px;
}

.contenido-2 {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 30px;
  border-right: 1px solid #cac6c6;
}
.nota-1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.nota-2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.texto-contenido-2 h3 {
  max-width: 390px;
}
.titulo-noticia {
  font-size: 19px;
  font-weight: 700;
}
.texto-contenido-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}
.contenido-3 {
  width: 30%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 30px;
  gap: 20px;
}
.contenido-noticias {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 70%;
}
.contenido-noticias p:nth-child(1) {
  color: #000;
  font-weight: 700;
  max-width: 220px;
}
.contenido-noticias p:nth-child(2) {
  color: #7a7a7a;
  max-width: 220px;
}
.noticia {
  display: flex;
  width: 100%;
}
.noticia img {
  width: 30%;
  height: 100px;
  object-fit: cover;
}
footer {
  border-top: 1px solid #cac6c6;
  margin-top: 20px;
  padding-top: 15px;
}
footer ul {
  display: flex;
  list-style: none;
  gap: 30px;
  align-items: center;
  width: 35%;
}
.Market {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.Market li:nth-child(1) {
  color: #000;
  font-weight: 700;
  font-size: 14px;
}
.Market li:nth-child(2) {
  color: #7a7a7a;
}
.Nav-footer {
  display: flex;
  gap: 15px;
}
.Nav-footer a {
  color: #7a7a7a;
  text-decoration: none;
}
.Nav-footer a:hover {
  border-bottom: 1px solid #7a7a7a;
}
.footer-principal {
  display: flex;
  justify-content: space-between;
}
.full-marker {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #7a7a7a;
}
.full-marker p {
  font-weight: 700;
  font-size: 15px;
}
.full-marker i {
  font-size: 15px;
}
.contenedores-footer {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}
.caja {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
  gap: 12px;
  width: 100%;
  height: 100px;
  color: #fff;
}
.caja-rosada {
  background-color: #ca485b;
}
.caja-verde {
  background-color: #5c8d5d;
}
.caja-negra {
  background-color: #000;
}
.Principal-caja {
  display: flex;
  align-items: center;
  gap: 10px;
}
.Principal-caja strong {
  color: #ffffff7e;
  font-size: 13px;
}
.Cuentas-caja {
  display: flex;
  gap: 10px;
  color: #ffffff7e;
}
.Hora-caja {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}
