/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: gray;
}

:root {
  --text-col: gray;
}

body {
  margin: 40px;
  margin-left: 90px;
  padding: 0px;
  background-color: #f6f6f6;
  min-width: 850px;
  display: grid;
  height: 90%;
  width: 90%;
}

/* start of header styles */
header {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 10vh;
}

#account-managment {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 100%;
  align-items: center;
}

#left-side-header i {
  color: black;
  margin: 10px;
  font-size: 0.9rem;
}

#left-side-header i:first-of-type {
  margin-left: 0px;
}

h1 {
  color: black;
  font-family: "ChomskyRegular";
  font-weight: normal;
  font-style: normal;
  text-align: center;
}

#right-side-header {
  display: flex;
  justify-content: flex-end;
}

#right-side-header button {
  padding: 10px 20px;
  color: black;
  font-weight: bold;
  font-size: 0.8rem;
}

#right-side-header button:hover {
  cursor: pointer;
}

#right-side-header button:nth-of-type(2) {
  background-color: #f6f6f6;
  border: solid #d8d8d8;
}

#right-side-header button:nth-of-type(1) {
  background-color: #f6f6f6;
  border: none;
}
/* end of header styles */
hr {
  color: var(--text-col);
  margin-top: 20px;
  opacity: 0.7;
}
/* Start of main styles */

main {
  width: 100%;
}
#topics {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr auto;
  height: 5vh;
  align-items: center;
  margin-top: -2px;
  width: 100%;
}

article {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 4fr auto 3fr auto 3fr;
  justify-content: space-around;
}

article hr:first-of-type {
  height: 100%;
  grid-row: 2/3;
  grid-column: 2/3;
  margin: 0 20px;
}

article hr:nth-of-type(2) {
  height: 100%;
  grid-row: 2/3;
  grid-column: 4/5;
  margin: 0 20px;
}
/* nav topics styles */

#date p {
  font-size: 0.6rem;
  line-height: 1.5em;
}
#date p:first-of-type {
  color: black;
}

#topics ul {
  display: flex;
}

#topics li {
  list-style-type: none;
  margin: 10px auto;
}

#topics a {
  text-decoration: none;
  font-size: 0.6rem;
}

#topics button {
  height: 5vh;
  width: 5vh;
  border: none;
  background-color: black;
  color: white;
}

/* nav sections styles */

#navbar-sections {
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: flex-start;
  grid-row: 1/2;
  grid-column: 1/6;
}
#navbar-sections ul {
  display: flex;
  width: 100%;
}

#navbar-sections li {
  list-style-type: none;
  margin: 10px;
}

#navbar-sections a {
  text-decoration: none;
  font-size: 0.6rem;
}

#navbar-sections a:hover {
  cursor: pointer;
  text-decoration: underline;
}

#navbar-sections a:active {
  color: black;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
}

#navbar-sections li:first-of-type {
  margin-left: 0;
}
#navbar-sections li:first-of-type a {
  color: black;
  font-size: 1rem;
  font-weight: bold;
}

#navbar-sections li:nth-of-type(2) a {
  text-decoration: underline;
}
/* #main-section styles */

#main-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-row: 2/3;
  grid-column: 1/2;
  height: 50vh;
}

#main-section img {
  width: 200px;
}

#main-section h2 {
  color: black;
  font-weight: bold;
}

#main-section p {
  color: var(--text-col);
  font-size: 0.6rem;
  line-height: 2em;
  font-weight: bold;
}

/* #latest-news styles */
#latest-news {
  grid-row: 2/3;
  grid-column: 3/4;
}

#latest-news h2 {
  font-size: 1rem;
  font-weight: bold;
  color: black;
}

.latest-news-articles h3 {
  font-size: 1rem;
  font-weight: bold;
  color: black;
}

#latest-news button {
  background-color: transparent;
  border: none;
  margin: 20px;
  margin-left: 0;
  display: flex;
  align-items: center;
}

#latest-news button i {
  color: gray;
  font-size: 0.5rem;
  align-self: center;
  margin: 5px;
}

#latest-news button i:first-of-type {
  color: black;
  font-size: 0.7rem;
  margin-left: 0;
}
/* #fast-forward styles */
#fast-forward {
  grid-row: 2/3;
  grid-column: 5/6;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 15fr 1fr;
}
#fast-forward h2 {
  grid-row: 1/2;
  font-size: 1rem;
  font-weight: bold;
  color: black;
}

#fast-forward > section {
  grid-row: 2/3;
}
/* classes in main */
.article-info {
  display: flex;
  align-items: center;
  margin: 10px;
  margin-left: 0;
}
.article-info span {
  color: white;
  font-size: 0.6rem;
  background-color: black;
  padding: 10px;
  margin: 5px;
  margin-left: 0;
  font-weight: bold;
}

.article-info p {
  color: black;
  font-size: 0.6rem;
  padding: 10px;
  margin: 5px;
  margin-left: 0;
  font-weight: bold;
}

.article-info span {
  display: block;
}

.continue-reading {
  text-decoration: underline;
  font-size: 0.6rem;
  text-underline-offset: 10px;
}

.fast-forward-articles {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.fast-forward-articles h3 {
  font-size: 0.8rem;
  font-weight: bold;
  grid-row: 1/2;
  grid-column: 1/2;
  color: black;
}
.fast-forward-articles p {
  font-size: 0.8rem;
  font-weight: bold;
  grid-row: 2/3;
  grid-column: 1/2;
  color: var(--text-col);
}

.fast-forward-articles img {
  width: 80px;
  grid-row: 1/3;
  grid-column: 2/3;
  margin: 10px;
}
/* End of main styles */

/* Start of footer styles */
footer {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#left-side-footer {
  width: 60%;
}
#left-side-footer {
  display: flex;
  align-items: center;
}
#left-side-footer p {
  font-size: 0.6rem;
  line-height: 1.5em;
}
#left-side-footer p:first-of-type {
  color: black;
}

#left-side-footer ul {
  display: flex;
}

#left-side-footer li {
  list-style-type: none;
  margin: 10px 15px;
}

#left-side-footer a {
  text-decoration: none;
  font-size: 0.6rem;
}

#overview {
  text-decoration: none;
  font-size: 0.8rem;
}

#sidebar {
  height: 100%;
  width: 50px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
}

#sidebar button {
  background-color: white;
  border: none;
  color: black;
  font-size: 1.5rem;
}
#sidebar button i {
  color: black;
}
