* {
  margin: 0;
  padding: 0;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}
section {
  display: flex;
  justify-content: center;
}

article {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 0;
  width: 50%;
}

span {
  margin: 2px 0 0px 0;
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 700;
  color: #6e6e73;
  border-color: #6e6e73;
}

h1 {
  margin: 14px 0 20px 0px;
  font-size: 48px;
  line-height: 1.08349;
  font-weight: 700;
  letter-spacing: -0.003em;
}

.text-descripcion-h1 {
  font-size: 24px;
  line-height: 1.16667;
  font-weight: 500;
  letter-spacing: 0.009em;
  margin: 20px 0 0 0;
}
.iconos-redes {
  display: flex;
  list-style: none;
  margin: 40px 0 40px 0;
  gap: 20px;
}
.iconos-redes img:hover {
  filter: contrast(0.7);
}
.iconos-redes2 img:hover {
  filter: contrast(0.7);
}
.iconos-redes img {
  width: 20px;
  filter: contrast(0.2);
}
.ima-belive {
  transform: scalex(1.5);
  height: 490px;
  border-radius: 10px;
}
.description-imagen {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.description-imagen p {
  color: #6e6e73;
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 600;
  letter-spacing: -0.01em;
}
.description-imagen a {
  text-decoration: none;
  list-style: none;
}
.description-imagen button {
  display: flex;
  justify-content: center;
  width: 20px;
  border-radius: 50%;
  border: none;
  margin: 20px;
  padding: 5px 13px;
}

.description-imagen button img {
  width: 15px;
  filter: opacity(0.6);
}
.texto-articulo {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.texto-articulo p {
  font-size: 19px;
  line-height: 1.4211;
  font-weight: 400;
  letter-spacing: 0.012em;
  color: #1d1d1f;
  margin: 0px 0 20px 0;
}
.texto-articulo h2 {
  font-size: 25px;
}
.texto-articulo b {
  font-size: 14px;
}
.texto-articulo ul {
  display: flex;
  flex-direction: column;
  margin-left: 22px;
  font-size: 19px;
  gap: 10px;
}
.iconos-redes2 {
  display: flex;
  list-style: none;
  margin: 20px 0 40px 0;
  gap: 20px;
}
.iconos-redes2 img {
  width: 20px;
  filter: contrast(0.2);
}
.About-Apple-TV {
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -0.01em;
  margin: 20px 0 40px 0;
  padding-bottom: 40px;
  border-bottom: 1px solid #d2d2d7;
}
.link {
  color: rgb(2, 126, 250);
  text-decoration: none;
}
strong {
  color: #1d1d1f;
}
.apple-media {
  margin: 20px 0 0 0;
  font-size: 19px;
  line-height: 1.21053;
  font-weight: 700;
  letter-spacing: 0.012em;
  color: #1d1d1f;
}
