* {
  margin: 0;
  padding: 0;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

body {
  display: flex;
  justify-content: center;
}
.articulo-global {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 980px;
  flex-direction: column;
}
section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 653px;
}
figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}
figcaption {
  width: 653px;
}

.press-relase1 {
  margin: 2px 0 0px 0;
  font-size: 12px;
  font-weight: 600;
  color: #909094;
}
.press-relase2 {
  margin: 2px 0 0px 0;
  font-size: 14px;
  font-weight: 500;
  color: #909094;
}

h1 {
  margin: 14px 0 20px 0px;
  font-size: 46px;
  line-height: 1.08349;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.text-descripcion-h1 {
  font-size: 24px;
  line-height: 1.16667;
  font-weight: 500;
  letter-spacing: 0.009px;
  margin: 20px 0 0 0;
}
.iconos-redes {
  display: flex;
  list-style: none;
  margin: 40px 0 40px 0;
  gap: 20px;
}
.iconos-redes img:hover {
  filter: contrast(0.7);
}
.iconos-redes2 img:hover {
  filter: contrast(0.7);
}
.iconos-redes img {
  width: 20px;
  filter: contrast(0.2);
}
.ima-belive {
  border-radius: 10px;
}
.description-imagen {
  display: flex;
  align-items: center;
  margin: 10px 0 40px 0;
}
.description-imagen p {
  color: #6e6e73;
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 600;
  letter-spacing: -0.01px;
}
.description-imagen a {
  text-decoration: none;
  list-style: none;
}
.boton-desacarga {
  display: flex;
  justify-content: center;
  width: 20px;
  border-radius: 50%;
  border: none;
  margin-bottom: 10px;
  padding: 5px 13px;
}

.description-imagen button img {
  width: 15px;
  filter: opacity(0.6);
}
.texto-articulo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}
.texto-articulo p {
  font-size: 19px;
  line-height: 1.4211;
  letter-spacing: -0.32px;
  color: #28282a;
}
.texto-articulo h2 {
  font-size: 25px;
}
.texto-articulo b {
  font-size: 14px;
  font-weight: bold;
}
.articulos-categorias {
  width: 653px;
  margin-bottom: 30px;
}
.articulos-categorias p {
  font-weight: bold;
  font-size: 19px;
  margin-bottom: 20px;
}
.articulos-categorias ul {
  display: flex;
  flex-direction: column;
  margin-left: 22px;
  font-size: 19px;
  gap: 10px;
}

.share-article {
  color: #1d1d1f;
  font-size: 19px;
  font-weight: 700;
  margin-top: 20px;
}
.iconos-redes2 {
  display: flex;
  list-style: none;
  margin: 20px 0 40px 0;
  gap: 20px;
}
.iconos-redes2 img {
  width: 20px;
  filter: contrast(0.2);
}
.About-Apple-TV {
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: 0.3px;
  margin: 5px 0 40px 0;
  padding-bottom: 40px;
  border-bottom: 1px solid #d2d2d7;
}
.link {
  color: rgb(2, 126, 250);
  text-decoration: none;
}
strong {
  color: #1d1d1f;
}
.apple-media {
  margin: 20px 0 0 0;
  font-size: 19px;
  line-height: 1.21053;
  font-weight: 700;
  color: #1d1d1f;
}

footer {
  width: 653px;
}
