* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  height: 200vh;
  background-color: #dddcdc;
}

#barra-menu {
  display: flex;
  justify-content: center;
  width: 60px;
  height: 100vh;
  background-color: #ffffff;
  position: fixed;
  border-radius: 8px;
}

nav * {
  cursor: pointer;
}
nav {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
#logo img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#perfil {
  display: flex;
  justify-content: center;
  align-items: center;
}
#perfil img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.items {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.items li {
  display: flex;
  justify-content: center;
}

.items ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  gap: 10px;
  color: #55525e;
}
.buscador {
  transform: translateY(-20px);
}

#container-widelab {
  position: absolute;
  width: 100px;
  height: 40px;
  transform: translate(0px, -40px);
}

.lista-widelab-hover {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #ffffff;
  width: 350px;
  border-radius: 10px;
  padding: 5px 5px;
  display: none;
}
#container-widelab:hover .lista-widelab-hover {
  display: block;
  transform: translate(60px, -20px);
}

#container-perfil {
  position: absolute;
  width: 100px;
  height: 40px;
  transform: translate(0px, -40px);
}

.lista-perfil-hover {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  width: 250px;
  border-radius: 10px;
  padding: 15px 0px;
  display: none;
}
#container-perfil:hover .lista-perfil-hover {
  display: block;
  transform: translate(60px, -260px);
}
.lista-perfil-hover li:hover {
  cursor: pointer;
}

.lista-widelab-hover li {
  display: flex;
  align-items: center;
  color: #7a7783;
  font-size: 14px;
  padding: 7px;
}
.lista-widelab-hover li:hover {
  padding: 7px;
  border-radius: 5px;
  background-color: #e7e6e6;
  cursor: pointer;
}

.lista-widelab-hover li i {
  margin-left: 70px;
  display: none;
}
.lista-widelab-hover li:hover i {
  display: block;
}
.lista-widelab-hover img {
  display: flex;
  width: 35px;
  height: 35px;
  object-fit: cover;
  margin-left: 10px;
  border-radius: 10px;
  border: 1px solid #c7c5c5;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.texto-icono {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.texto-icono h2 {
  font-size: 15px;
  color: rgb(0, 0, 0);
}
.texto-icono p {
  font-size: 13px;
}

.square {
  width: 17px;
  height: 17px;
  border: 1px solid #b3b1b1;
  border-radius: 5px;
}

.red {
  background-color: #aee8dc;
}

.green {
  background-color: #c9d3f5;
}

.blue {
  background-color: #e2c6f6;
}
.white {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2px;
  background-color: #ffffff;
}
.white i {
  font-size: 10px;
  color: #c3c3c3;
}

.tooltiptext {
  display: none;
}

.items li:hover .tooltiptext {
  display: inline;
  background-color: rgb(0, 0, 0);
  color: #fff;
  font-size: 12px;
  padding: 2px 10px;
  border-radius: 5px;
  margin-left: 20px;
  position: fixed;
}

.lista-perfil-hover .terminos-condicions {
  margin-left: 15px;
  margin-top: 10px;
  color: #7a7783;
  font-size: 15px;
}
.datos-perfil {
  margin: 0 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(231, 228, 228);
}
.lista-perfil-hover li {
  display: flex;
  align-items: center;
  color: #7a7783;
  font-size: 14px;
}

.lista-perfil-hover img {
  display: flex;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid #c7c5c5;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.texto-icono-2 {
  margin-left: 10px;
}
.texto-icono-2 h2 {
  font-size: 18px;
  color: rgb(0, 0, 0);
}
.texto-icono-2 p {
  font-size: 15px;
}

.perfil-configuraciones-text {
  display: flex;
  margin-left: 10px;
  gap: 10px;
}
.perfil-configuraciones {
  margin: 0 5px;
  padding: 10px 0px;
}
.perfil-configuraciones:hover {
  border-radius: 5px;
  background-color: #e7e6e6;
}
.verde-hover:hover {
  background-color: rgba(13, 218, 105, 0.192);
}
.verde-hover:hover p {
  color: rgb(0, 124, 56);
}
.perfil-configuraciones-text i {
  display: flex;
  align-items: center;
  font-size: 15px;
}
.perfil-configuraciones-text p {
  display: flex;
  align-items: center;
  color: #373738;
  font-size: 17px;
}
.verde {
  color: rgb(0, 124, 56);
}
.amarillo {
  color: rgb(255, 187, 0);
}
