* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  width: 50%;
  height: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: #bcc4cf;
  border-radius: 20px;
}

h1 {
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  margin: 0px 0 30px 0;
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="checkbox"] {
  font-size: 1rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="checkbox"] {
  width: 20px;
}

p {
  text-align: center;
  font-size: 1rem;
}
a:link {
  color: rgb(255, 6, 6);
}
a:visited {
  color: rgb(10, 122, 10);
}
a:hover {
  color: #fffb00;
}
a:active {
  color: #0747a6;
}

#subscription-form:valid #submit-button:enabled {
  background-color: #57d9a3;
  color: #00875a;
  cursor: pointer;
}
#subscription-form:invalid #submit-button:enabled {
  background-color: #ebecf0;
  color: #505f79;
  cursor: not-allowed;
}

button {
  font-size: 1rem;
  padding: 10px;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3;
}

input:invalid {
  border-color: red;
}
input:valid {
  border-color: rgb(94, 255, 0);
}
#terms-and-conditions {
  margin-top: 120px;
}
#terms-and-conditions:target {
  background-color: #deebff;
}
.terms-link {
  font-size: 1rem;
}
.terms-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 120ch;
  margin: 0 auto;
  padding: 0;
}
.terms-list li::marker {
  content: " ✓";
  font-size: 30px;
}
.terms-list li:nth-child(odd)::marker {
  color: #5e6c84;
}
section p:nth-child(2) {
  color: #0747a6;
}
section p:first-child {
  color: #000000;
  margin-bottom: 20px;
  font-size: 30px;
}
