* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial, sans-serif;
}
body,
html {
  height: 100vh;
}
body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-width: 320px;
  gap: 100px;
}

header {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
  height: 70px;
  padding: 10px;
}
header ul {
  display: flex;
  gap: 10px;
  list-style: none;
}
header li a {
  text-decoration: none;
  font-size: 15px;
  color: rgb(68, 68, 68);
}
header img:nth-child(3) {
  width: 40px;
  border-radius: 50%;
}
header img:nth-child(2) {
  width: 30px;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 450px;
}
section img {
  width: 300px;
}

#search-input {
  display: flex;
  width: 100%;
  height: 50px;
  border-radius: 30px;
  font-size: 17px;
  color: rgb(63, 63, 63);
  border: none;
  border: 1px solid rgb(192, 192, 192);
  padding: 0 50px 0px 45px;
}
#search-input:focus {
  outline: 1px solid #337cf3;
  border: none;
}
.icon-left,
.icon-right {
  position: absolute;
}

.icon-left {
  color: #919191;
  left: 20px; /* Posición del icono a la izquierda */
}

.icon-right {
  width: 25px;
  right: 20px; /* Posición del icono a la derecha */
}
.search-input:focus {
  outline: 1px solid #337cf3;
  border: none;
}
.botones {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

footer {
  width: 100%;
  background-color: #e0d9d9;
}
.colombia p {
  padding: 20px 0 20px 30px;
  color: #505050;
  border-bottom: 1px solid #aca8a8;
}
.colombia {
  background-color: #e0d9d9;
}

.datos-2 ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 20px;
}
.datos-2 li a {
  color: #505050;
  text-decoration: none;
}
.datos-2 li a:hover {
  border-bottom: 1px solid #919191;
}
