* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  min-width: 360px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 90px;
  width: 100%;
}

header nav {
  display: none;
}
header > i {
  border: 1px solid #212b33;
  padding: 10px;
  border-radius: 2px;
  cursor: pointer;
}
.logo {
  display: flex;
  align-items: center;
}
.logo i {
  font-size: 30px;
}
.logo p {
  color: #212b33;
  font-size: 18px;
}
.logo i:nth-child(1) {
  color: #212b33;
  z-index: 2;
}
.logo i:nth-child(2) {
  transform: translateX(-10px);
  z-index: 1;
}
.section-1 {
  display: flex;
  flex-direction: column;

  margin-top: 40px;
  width: 80%;
}
.section-1 h1 {
  max-width: 60%;
  min-width: 300px;
  font-weight: 100;
  font-size: 39px;
  padding: 0;
  color: #212b33;
}
.datos-eneabling {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 40px auto 0 auto;
}

.botones {
  display: flex;
  gap: 10px;
  margin-bottom: 50px;
}
.botones button {
  border: none;
  padding: 20px 10vw;
  border-radius: 40px;
  cursor: pointer;
}
.botones button:nth-child(1) {
  background-color: #212b33;
  color: #fff;
}
.botones button:nth-child(2) {
  background-color: #dddfdf;
  color: #212b33;
}
.section-1 nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
  font-size: 12px;
  color: #212b33;
  margin-bottom: 50px;
  cursor: pointer;
}
.section-1 nav li::before {
  content: " / ";
}

.section-2 {
  display: flex;
  justify-content: center;
  background-color: #212b33;
  height: 490px;
}
.datos-perfil {
  display: none;
}
.imagen-escalera {
  display: none;
}

.texto-perfil {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.texto-perfil h2 {
  margin-top: 30px;
  font-size: 39px;
  color: #fff;
  font-weight: 200;
}
.texto-perfil p {
  color: #737374;
  font-size: 17px;
  margin-top: 15px;
}
.texto-perfil button {
  margin: 50px 0;
  padding: 20px;
  border-radius: 40px;
  border: none;
  color: #000000;
  cursor: pointer;
}

@media only screen and (min-width: 961px) {
  header {
    width: 90%;
  }
  header nav {
    display: block;
  }
  header nav ul {
    display: flex;
    gap: 50px;
    list-style: none;
  }
  header nav li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #737374;
    gap: 5px;
  }
  .prueba {
    font-size: 10px;
  }
  .active {
    color: #212b33;
  }
  .section-1 {
    width: 90%;
  }
  .section-1 h1 {
    font-weight: 100;
    font-size: 64px;
    max-width: 60%;
    padding: 0;
  }
  .datos-eneabling {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
  }
  .perfil-img {
    display: flex;
    flex-direction: column;
  }
  .datos-perfil {
    display: block;
  }
  .imagen-escalera {
    display: block;
  }
  .imagen-escalera img {
    margin-top: 50px;
    width: 350px;
    margin-bottom: 30px;
    height: 520px;
  }
  .datos-perfil img {
    width: 60px;
  }
  .section-2 {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 90px;
    height: 600px;
    gap: 60px;
  }
  .texto-perfil {
    width: 50%;
  }
  .texto-perfil p {
    line-height: 25px;
  }
  .texto-perfil h2 {
    margin: 0;
    max-width: 70%;
    font-size: 56px;
  }
  .texto-perfil button {
    width: 200px;
  }
  .datos-perfil {
    display: flex;
    align-items: center;
    object-fit: cover;
    gap: 10px;
  }
  .datos-perfil img {
    width: 50px;
    border-radius: 50%;
  }
  .nombre {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  .nombre p:nth-child(1) {
    font-size: 20px;
    color: #fff;
  }
  .nombre p:nth-child(2) {
    font-size: 15px;
    color: #737374;
  }
  .botones button {
    border: none;
    padding: 20px 50px;
    border-radius: 40px;
    cursor: pointer;
  }
}
