* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgb(76, 105, 248);
}
main {
  margin: 40px auto 20px;
  width: 500px;
  background-color: rgb(0, 11, 25);
  padding: 8px;
  border-radius: 60px;
}
.parte-principal {
  background-color: rgb(17, 170, 255);
  border-radius: 50px;
  box-shadow: 0px 19px 4px -11px rgb(7, 62, 141);
  margin-bottom: 20px;
}
header {
  padding: 1.2em;
}
header nav {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
header nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}
li,
a {
  list-style-type: none;
  text-decoration: none;
}
header nav ul li:nth-of-type(1) {
  display: grid;
  justify-content: start;
}
li:nth-of-type(1) a {
  color: white;
  padding: 0px 7px 3px;
  border: 1px solid white;
  border-radius: 50%;
  font-size: 25px;
  font-weight: bold;
}
li:nth-of-type(2) {
  display: grid;
  justify-content: center;
}
li:nth-of-type(2) a {
  color: white;
  display: flex;
  gap: 5px;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
}
li:nth-of-type(2) a i {
  font-size: 18px;
  display: flex;
}
li:nth-of-type(3) {
  display: grid;
  justify-content: end;
}
li:nth-of-type(3) a {
  color: white;
  font-size: 25px;
  font-weight: bolder;
}
header nav button {
  width: 70px;
  display: flex;
  margin: 6px;
  justify-self: center;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.575);
  font-size: 10px;
  color: white;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
header nav button::before {
  content: "•";
  margin-right: 3px;
  font-size: 15px;
  color: #a9ff03;
}
figure {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
figure img {
  width: 290px;
  height: 30vh;
}
.actual-temp {
  margin: 0 auto;
  display: grid;
}
#info-temp {
  color: white;
  display: grid;
  justify-content: center;
  justify-items: center;
}
#info-temp p:nth-of-type(1) {
  font-size: 150px;
  font-weight: bold;
  height: 150px;
  display: flex;
  justify-content: center;
}
#info-temp p:nth-of-type(1)::after {
  content: "°";
  padding-top: 22px;
  font-size: 50px;
  font-weight: 100;
  color: rgb(204, 204, 204);
}
#info-temp p:nth-of-type(2) {
  font-size: 30px;
  display: flex;
  margin: 0;
  justify-content: center;
}
#info-temp p:nth-of-type(3) {
  font-size: 14px;
  color: rgb(204, 204, 204);
}
#extras-temp {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 75px;
  width: 90%;
  margin: 25px auto;
  padding: 6px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.363);
}
.cont-extras,
.cont-extras-h {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cont-extras-h i {
  font-size: 25px;
  margin: 5px;
  color: rgb(0, 109, 199);
}

.cont-extras i {
  font-size: 25px;
  margin: 5px;
  color: white;
}

.cont-extras p:nth-of-type(1),
.cont-extras-h p:nth-of-type(1) {
  margin-top: 5px;
  font-weight: bold;
  color: white;
}
.cont-extras p:nth-of-type(2),
.cont-extras-h p:nth-of-type(2) {
  color: rgb(204, 204, 204);
}

.today ul {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.today ul li:nth-of-type(1) {
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.today ul li:nth-of-type(2) a {
  color: gray;
  font-size: 15px;
}
.content-today-info {
  margin: 47px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 20px;
}
#today-info {
  display: grid;
  justify-items: center;
  justify-content: center;
  border-radius: 42px;
  padding: 15px 0px;
  border: 1px solid rgba(128, 128, 128, 0.596);
  cursor: pointer;
}

#today-info p:nth-of-type(1) {
  color: white;
  font-weight: bold;
  font-size: 18px;
}
#today-info img {
  width: 60px;
  height: 70px;
}
#today-info p:nth-of-type(2) {
  color: rgb(155, 155, 155);
  font-size: 15px;
}
#today-info:hover {
  background-color: rgb(17, 172, 255);
  box-shadow: 0px 5px 10px 10px rgba(84, 157, 230, 0.39);
}
