* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background: url("../img/nasa-Q1p7bh3SHj8-unsplash.jpg");
  background-repeat: no-repeat0;
  background-size: 100vw 100vh;
}

.menu {
  background-color: #191717;
  float: left;
  height: 100vh;
  min-width: 250px;
}

.menu nav a i {
  margin-right: 10px;
}
.menu nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 14px;
  padding: 10px;
}
.menu nav a:hover {
  background-color: rgb(0, 0, 0);
}
.nave {
  padding: auto;
  margin: auto;
  padding-bottom: 25px;
  border-bottom: 1px solid rgb(121, 121, 121);
}
.perfil img {
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}
.perfil {
  display: flex;
  padding: 25px;
  text-decoration: none;
  color: white;
  align-items: center;
}
.perfil:hover {
  background-color: rgb(0, 0, 0);
}
.otros a:nth-child(1) {
  padding-top: 20px;
  font-size: 12px;
  color: rgb(255, 255, 255);
}
.otros a:nth-child(2) {
  font-size: 12px;
  color: rgb(94, 94, 94);
}
.otros a:nth-child(3) {
  font-size: 12px;
  color: rgb(94, 94, 94);
}
.content {
  float: left;
}
.content h1 {
  color: rgb(255, 255, 255);
  padding: 100px 0px 50px 60px;
  font-size: 60px;
  font-weight: bold;
}
.content p {
  color: white;
  padding: 0px 0px 30px 60px;
  font-size: 40px;
  font-weight: 200;
}
.botones {
  padding: 0px 0px 30px 60px;
  display: flex;
  margin-top: 90px;
}
#uno {
  padding: 20px 40px 20px 40px;
  background-color: #ffc436;
  border-radius: 10px;
  margin-right: 50px;
}
#dos {
  padding: 20px 30px 20px 30px;
  border-radius: 10px;
  margin-right: 50px;
  border: 1px solid white;
  color: white;
}
