* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  width: 100%;
  background-color: #000;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  background-color: #000;
  height: 90px;
  border-bottom: 1px solid rgb(36, 36, 36);
}

nav {
  display: none;
}
header > button {
  display: none;
}
header i:nth-child(4) {
  display: block;
  transform: scale(1.5);
  color: #969595;
}
article {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  width: 100%;
  margin-top: 90px;
  margin-bottom: 60px;
  padding: 0 20px;
}
.imagen-fondo {
  display: flex;
  justify-content: center;
  width: 100%;
  background: linear-gradient(#000000 50%, #ffffff 50%);
}
.imagen-fondo img {
  width: 65%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.titulos-articulo p {
  margin-bottom: 10px;
  font-size: 10px;
  color: rgb(170, 169, 169);
}

.texto-articulo p {
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(170, 169, 169);
}

.botones-articulo button:nth-child(1) {
  color: #fff;
  background-color: rgb(0, 103, 221);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
}
.botones-articulo button:nth-child(2) {
  color: #fff;
  background-color: rgb(27, 27, 27);
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
}
footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
}

footer img {
  width: 150px;
  height: 30px;
  object-fit: contain;
}
footer p {
  text-align: center;
  margin-top: 30px;
  font-size: 15px;
  color: #202020;
}
.iconos-footer {
  display: flex;
  gap: 5px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 40px;
}

@media only screen and (min-width: 961px) {
  header {
    justify-content: space-around;
  }
  nav {
    display: block;
  }
  nav a {
    color: #969595;
    text-decoration: none;
  }
  nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
  }
  nav li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
  }
  .active {
    color: #fff;
  }
  span {
    display: flex;
    align-items: center;
    background-color: rgb(233, 14, 14);
    color: #fff;
    border: none;
    padding: 0px 10px;
    border-radius: 20px;
    font-size: 11px;
    height: 15px;
    cursor: pointer;
  }
  header > button {
    color: #fff;
    background-color: rgb(18, 123, 243);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: block;
    cursor: pointer;
  }
  header i:nth-child(4) {
    display: none;
  }

  article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 110px;
  }
  .titulos-articulo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 200px;
  }
  .texto-articulo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 200px;
  }
  .titulos-articulo p {
    margin-bottom: 10px;
    font-size: 10px;
    color: rgb(170, 169, 169);
  }
  .titulos-articulo h1 {
    font-size: 35px;
    width: 400px;
  }

  .texto-articulo p {
    width: 400px;
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 20px;
  }

  .iconos-footer {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 40px;
  }
}
