* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 0 20px;
}
nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  width: 240px;
}
.boton {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 240px;
}
nav a {
  font-size: 17px;
  font-weight: 600;
  color: #05093d;
  text-decoration: none;
}
nav i {
  transform: scale(0.6);
}
header img {
  width: 30px;
}
header button {
  border-radius: 20px;
  border: none;
  color: #fff;
  background-color: #3844e5;
  padding: 10px 20px;
  cursor: pointer;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.contenido-principal {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 600px;
  max-width: 700px;
  gap: 20px;
}
.texto-principal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.texto-principal h1 {
  font-size: 5vw;
  color: #05093d;
}
.texto-principal p {
  font-size: 20px;
  width: 390px;
  color: #808080;
}

#ima img {
  object-fit: contain;
  width: 100%;
  height: 600px;
}
.botones-principales {
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #3844e5;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 30px;
  cursor: pointer;
}
button i {
  font-size: 20px;
}
.texto-boton p {
  display: flex;
}
.texto-boton p:nth-child(1) {
  color: #b6b6b6;
  font-size: 13px;
}
.texto-boton p:nth-child(2) {
  font-size: 17px;
}
footer {
  display: flex;
  justify-content: center;
  gap: 20px;
}
footer img {
  object-fit: contain;
  width: 100px;
  opacity: 0.3;
}
