/* General */
* {
  font-family: sans-serif;
  color: #0e1244;
}

:root {
  --button-col: #3844e5;
}

body {
  margin: 50px;
  padding: 0px;
  background-color: #ebecf3;
  min-width: 850px;
}

/* header */
header {
  background-color: white;
  width: 100%;
  height: 60px;
  border-radius: 10px 10px 0 0;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header #nav-l {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

header nav div {
  width: 33%;
}

header a {
  font-size: 0.8rem;
  margin: 10px;
  font-weight: bold;
}

header a:first-of-type {
  margin-left: 20px;
}

header #nav-l a:first-of-type:after {
  content: "\02C5";
  font-size: 0.8rem;
  text-align: center;
  margin: 0.2rem;
}

header img {
  width: 30px;
  margin: 0 auto;
}

#logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header nav div:last-of-type {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

header button {
  background-color: #3844e5;
  border-radius: 20px;
  font-size: 0.625rem;
  color: #e9eafc;
  margin: 20px;
  padding: 10px;
  border: none;
}

/* main */
main {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80vh;
  overflow: visible;
}

main > img {
  height: 60vh;
  width: auto;
}

main section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
}

main section h1 {
  font-size: 3rem;
  text-align: center;
}

main section > p {
  color: #878db4;
  font-size: 1.5rem;
  text-align: center;
}

main section button {
  overflow: hidden;
  background-color: #3844e5;
  width: 100px;
  border: none;
  border-radius: 20px;
  margin: 5px;
}

button > img {
  float: left;
  filter: brightness(0) invert(1);
  width: 20px;
  margin: 5px;
}

main section button p {
  color: #e9eafc;
  font-size: 0.625rem;
  margin: 2px;
  text-align: left;
}

main section button p:first-of-type {
  color: #a3a9f4;
  font-size: 0.55rem;
}

/* footer */
footer {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 10vh;
  border-radius: 0 0 10px 10px;
}
footer img {
  height: 25px;
  margin: 2vh 1vw;
  filter: grayscale(100%);
  opacity: 0.5;
}

footer img:nth-of-type(3),
footer img:nth-of-type(4),
footer img:nth-of-type(6) {
  height: 40px;
}
