* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  min-width: 320px;
  height: inherit;
  background: rgb(0, 167, 241);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #000;
  width: 500px;

  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-radius: 50px;
}
.clima {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(0, 167, 241);
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -12px 0px inset;
  border-radius: 50px;
  height: 75%;
  width: 95%;
  margin-top: 10px;
}

.Minsk {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  padding-top: 10px;
}

.Minsk ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 10px;
}
.clima li:nth-child(3) {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

.prueba i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  outline: 1px solid;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
}
.updating {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
.updating li {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  font-size: 25px;
}
.updating i {
  font-size: 15px;
}
.updating button {
  display: flex;
  align-items: center;
  gap: 2px;
  border: none;
  background-color: transparent;
  color: #fff;
  outline: 1px solid #fff;
  border-radius: 30px;
  width: 80px;
  padding: 5px;
  cursor: pointer;
}
.updating button i {
  color: rgb(252, 252, 2);
  font-size: 8px;
}

p {
  font-size: 2vh;
  color: aliceblue;
}
.datos p:nth-child(3) {
  color: #c9bdbd;
}
.nube-clima {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.nube-clima img {
  width: 30%;
  padding-top: 10px;
  object-fit: cover;
}
.Thunderstorm {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.nube-clima strong {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  font-weight: 500;
  width: 100%;
  color: #fff;
}
.texto-clima {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.texto-clima p:nth-child(1) {
  font-size: 25px;
}
.texto-clima p:nth-child(2) {
  font-size: 15px;
  color: #c9bdbd;
}
.datos-clima {
  width: 90%;
  display: flex;
  justify-content: center;
  border-top: 1px solid #c9bdbd;
  text-align: center;
  padding: 20px 0;
}
.datos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 30%;
}
.datos i {
  color: rgb(156, 248, 248);
}
.dias-climas {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  margin-top: 10px;
}
.datos-days i {
  color: #fff;
}
.days {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.days i {
  font-size: 12px;
}
.days p:nth-child(1) {
  font-size: 20px;
  font-weight: 700;
}
.days a {
  color: #c9bdbd;
  text-decoration: none;
  font-size: 15px;
}
.contenedores-days {
  display: flex;
  width: 90%;
  justify-content: space-around;
}
.datos-days {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border: none;
  outline: 1px solid #4d4c4c;
  border-radius: 30px;
  width: 25%;
  margin: 10px;
  cursor: pointer;
  padding: 3vh 0px;
}
.datos-days:hover {
  background-color: rgb(0, 153, 255);
  outline: none;
}
