/* General */
* {
  font-family: sans-serif;
  color: black;
}

body {
  background-color: gray;
  margin: 0px;
  padding: 0px;
}

.brands {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.utilities {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.shared {
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.projects {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 30px;
}
.settings {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.account {
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Navigation bar  */

.sidebar {
  background-color: white;
  position: fixed;
  height: 100vh;
  width: 50px;
  border-radius: 10px;
  top: 10px;
  left: 10px;
}

.dropdown {
  position: relative;
}

.dropdown > span {
  z-index: 4;
  position: relative;
  cursor: pointer;
}

.brands-menu li:hover {
  background-color: #f6f6f6;
  cursor: pointer;
}

/* main sidebar styles */

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  width: 100%;
  border-radius: 5px;
  height: 25px;
}

.sidebar li:hover {
  background-color: #f6f6f6;
  cursor: pointer;
}

/* icons */

i {
  color: gray;
  font-size: 0.8em !important;
}

a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
}

button {
  border-radius: 5px;
  height: 20px;
  width: 20px;
}

.project1 {
  background-color: #afe9dc;
  border-color: #abd7cd;
}

.project2 {
  background-color: #c9d3f6;
  border-color: #c0c7e6;
}

.project3 {
  background-color: #e2c6f8;
  border-color: #d3bfe2;
}

.project-new {
  border-color: gray;
  font-size: 0.5em;
  text-align: center;
  vertical-align: middle;
}

hr {
  border: 1px solid #5d5f61;
}

/* plan menu */
.plan {
  color: #d3d5d6;
  padding: 3px;
  margin: calc(10px - padding);
  border-radius: 5px;
  border: 1px solid gray;
}
.plan:hover {
  cursor: pointer;
  background-color: #f3f1ff;
}

.plan img {
  float: left;
  height: 25px;
  width: 25px;
  border-radius: 5px;
  align-self: center;
}

.dropdown:hover .brands-menu {
  display: flex; /* Leave everything else alone */
  flex-direction: column;
  background: white;
  position: absolute;
  top: -13px;
  left: 55px;
  z-index: 1;
  width: 200px;
  border-radius: 5px;
}

.brands-menu {
  display: none;
}

.brands-menu > li {
  height: 40px;
  display: flex;
  align-items: center;
}

.brands-menu i {
  margin-left: 10px;
}

.brands-menu li:hover {
  cursor: pointer;
  background-color: #f3f1ff;
}

.brands-menu a:active::after {
  content: "\2713";
  color: gray;
  margin-right: 10px;
}

.plan-child {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.brands-menu a {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.brands-menu img {
  height: 25px;
  width: 25px;
  border-radius: 5px;
  float: left;
  margin: 10px;
}

.plan-child p {
  font-size: 0.6rem;
  padding-left: 10px;
  height: 1em;
  margin-bottom: 0;
  margin-top: 0.4em;
}

.plan-name {
  font-size: 0.7rem !important;
  font-weight: bold;
  margin-left: 5px;
  margin-top: 1em !important;
}

/* profile menu */

.profile-menu {
  display: none;
}

.dropdown:hover .profile-menu {
  display: flex; /* Leave everything else alone */
  flex-direction: column;
  background: white;
  position: absolute;
  bottom: -13px;
  left: 55px;
  z-index: 1;
  width: 150px;
  border-radius: 5px;
}

.profile-menu > li {
  height: 25px;
  display: flex;
  align-items: left;
}

.profile-menu > li:first-child {
  height: 40px;
}

.profile {
  display: flex;

  color: #d3d5d6;
  padding: 3px;
  margin: calc(10px - padding);
  border-radius: 5px;
  border: 1px solid gray;
}
.profile:hover {
  cursor: pointer;
  background-color: #f6f6f6;
}

.profile img {
  height: 25px;
  width: 25px;
  border-radius: 5px;
  align-self: center;
}

.profile-menu img {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  float: left;
  margin: 10px;
}

.profile-menu p {
  font-size: 0.6rem;
  padding-left: 10px;
  height: 1em;
  margin-bottom: 0;
  margin-top: 0.4em;
}

.name {
  font-size: 0.8rem !important;
  font-weight: bold;
  margin-left: 5px;
  margin-top: 1em !important;
}

.profile-child {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.profile-pic a {
  margin-left: 0px !important;
}

.profile-menu a {
  width: 100%;
  margin: 0px;
  padding: 0px;
  text-align: left;
  display: flex;
  flex-direction: left;
  justify-content: start;
}

.profile-menu i {
  margin-left: 10px;
}

.profile-menu a p {
  justify-content: center;
}

.profile-menu li:hover {
  background-color: #edf9f2;
}

.profile-menu li:hover p {
  color: #14a26b;
}

.profile-menu li:hover i {
  color: #14a26b;
}

.fa-star {
  color: #feefcb;
  border-color: #f0c168;
}
.profile-menu li:last-of-type:hover {
  background-color: white;
}

.profile-menu li:last-of-type p {
  color: gray;
}
.profile-menu li:last-of-type:hover p {
  color: gray;
  cursor: auto;
}
