* {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

.pagina-principal {
  width: 600px;
  margin: 0 auto;
}

.comunicado {
  color: #6e6e73;
  font-size: 12px;
  font-weight: bold;
}

.titulo {
  font-size: 40px;
  font-weight: bold;
}

.enunciado {
  font-size: 23px;
  font-weight: 500;
}

.image {
  width: 150%;
  margin-left: -130px;
  border-radius: 25px;
}

figcaption {
  margin-top: 10px;
  font-size: 13px;
  color: #6e6e73;
  font-weight: 540;
}

.primero {
  font-size: 14px;
}

.texto {
  font-size: 18.5px;
  color: #303030;
}

.categorias {
  font-size: 17px;
}

li {
  color: #303030;
}

.descripcion-categorias {
  color: #303030;
  font-size: 21px;
}

section {
  margin-bottom: 45px;
}
