* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgb(235, 235, 235);
}
.calendario {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 90%;
  margin: 20px auto;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(235, 235, 235);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  position: relative;
}

#dias {
  height: 90px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#dias i {
  justify-items: center;
  background-color: rgb(241, 241, 241);
  padding: 18px;
  border-radius: 50%;
}
#dias h2 {
  font-size: 13px;
  font-weight: 300;
  color: rgb(93, 93, 104);
  display: flex;
  align-content: flex-end;
  justify-content: center;
  flex-wrap: wrap;
}
#dias span {
  margin: 3px auto;
  font-size: 27px;
  display: flex;
  justify-content: center;
  font-weight: 600;
  color: rgb(1, 1, 82);
}
#horarios span {
  color: rgb(93, 93, 104);
  font-size: 12px;
  font-weight: 600;
}
.info-cartas-verdes {
  background-color: rgb(218, 236, 218);
  margin: 2px auto;
  gap: 15px;
  width: 90%;
  height: 95%;
  border-radius: 10px;
  cursor: pointer;
}
.info-cartas-verdes:hover {
  position: relative;
  bottom: 20px;
  right: 20px;
  opacity: 0.8;
}
.info-cartas-verdes img {
  margin: 1px;
  padding: 3px;
  width: 33px;
  height: 33px;
  border-radius: 40px;
}
.info-cartas-verdes i {
  display: flex;
  justify-content: flex-end;
  margin-top: -33px;
  margin-bottom: 25px;
  padding-right: 10px;
  color: rgb(65, 146, 65);
}
.info-cartas-verdes span {
  padding-left: 20px;
  font-weight: bold;
  color: rgb(93, 93, 104);
  font-size: 13px;
}
.info-cartas-verdes p {
  margin-top: -4px;
  padding: 6px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: rgb(1, 1, 82);
}

.info-cartas-azul {
  background-color: rgb(201, 212, 224);
  margin: 2px auto;
  gap: 15px;
  width: 90%;
  height: 95%;
  border-radius: 10px;
  cursor: pointer;
}
.info-cartas-azul:hover {
  position: relative;
  bottom: 20px;
  right: 20px;
  opacity: 0.8;
}
.info-cartas-azul img {
  margin: 1px;
  padding: 3px;
  width: 33px;
  height: 33px;
  border-radius: 40px;
}
.info-cartas-azul i {
  display: flex;
  justify-content: flex-end;
  margin-top: -33px;
  margin-bottom: 25px;
  padding-right: 10px;
}
.info-cartas-azul span {
  padding-left: 20px;
  font-weight: bold;
  color: rgb(1, 1, 82);
  font-size: 13px;
}
.info-cartas-azul p {
  margin-top: -4px;
  padding: 6px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: rgb(65, 65, 190);
}
.info-cartas-verde-claro {
  background-color: rgb(199, 235, 213);
  margin: 2px auto;
  gap: 15px;
  width: 90%;
  height: 95%;
  border-radius: 10px;
  cursor: pointer;
}
.info-cartas-verde-claro:hover {
  position: relative;
  bottom: 20px;
  right: 20px;
  opacity: 0.8;
}
.info-cartas-verde-claro img {
  margin: 1px;
  padding: 3px;
  width: 33px;
  height: 33px;
  border-radius: 40px;
}
.info-cartas-verde-claro i {
  display: flex;
  justify-content: flex-end;
  margin-top: -33px;
  margin-bottom: 25px;
  padding-right: 10px;
}
.info-cartas-verde-claro span {
  padding-left: 20px;
  color: rgb(1, 73, 82);
  font-size: 13px;
  font-weight: bold;
}
.info-cartas-verde-claro p {
  margin-top: -4px;
  padding: 6px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: rgb(65, 186, 190);
}
.info-cartas-naranja {
  background-color: rgb(235, 218, 199);
  margin: 2px auto;
  gap: 15px;
  width: 90%;
  height: 95%;
  border-radius: 10px;
  cursor: pointer;
}
.info-cartas-naranja:hover {
  position: relative;
  bottom: 20px;
  right: 20px;
  opacity: 0.8;
}
.info-cartas-naranja img {
  margin: 1px;
  padding: 3px;
  width: 33px;
  height: 33px;
  border-radius: 40px;
}
.info-cartas-naranja i {
  display: flex;
  justify-content: flex-end;
  margin-top: -33px;
  margin-bottom: 25px;
  padding-right: 10px;
}
.info-cartas-naranja span {
  padding-left: 20px;
  color: rgb(82, 60, 1);
  font-size: 13px;
  font-weight: bold;
}
.info-cartas-naranja p {
  margin-top: -4px;
  padding: 6px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: rgb(223, 190, 47);
}
.info-cartas-agregar {
  background-color: rgb(241, 241, 241);
  margin: 2px auto;
  gap: 15px;
  width: 90%;
  height: 95%;
  border-radius: 10px;
  cursor: pointer;
}
.info-cartas-agregar:hover {
  position: relative;
  bottom: 20px;
  right: 20px;
  opacity: 0.8;
}
.info-cartas-agregar i {
  padding: 43px;
}
.info-cartas-verdoso {
  background-color: rgb(199, 235, 201);
  margin: 2px auto;
  gap: 15px;
  width: 90%;
  height: 95%;
  border-radius: 10px;
  cursor: pointer;
}
.info-cartas-verdoso:hover {
  position: relative;
  bottom: 20px;
  right: 20px;
  opacity: 0.8;
}
.info-cartas-verdoso img {
  margin: 1px;
  padding: 3px;
  width: 33px;
  height: 33px;
  border-radius: 40px;
}
.info-cartas-verdoso i {
  display: flex;
  justify-content: flex-end;
  margin-top: -33px;
  margin-bottom: 25px;
  padding-right: 10px;
}
.info-cartas-verdoso span {
  padding-left: 20px;
  color: rgb(37, 82, 1);
  font-size: 13px;
  font-weight: bold;
}
.info-cartas-verdoso p {
  margin-top: -4px;
  padding: 6px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: rgb(80, 190, 65);
}
.info-cartas-claro {
  background-color: rgb(241, 241, 241);
  margin: 2px auto;
  gap: 15px;
  width: 90%;
  height: 95%;
  border-radius: 10px;
  cursor: pointer;
}
.info-cartas-claro:hover {
  position: relative;
  bottom: 20px;
  right: 20px;
  opacity: 0.8;
}
.info-cartas-claro img {
  margin: 1px;
  padding: 3px;
  width: 33px;
  height: 33px;
  border-radius: 40px;
  display: block;
  margin-bottom: 12px;
}
.info-cartas-claro span {
  padding-left: 20px;
  color: rgb(93, 93, 104);
  font-size: 13px;
  font-weight: bold;
}
.info-cartas-claro p {
  margin-top: -4px;
  padding: 6px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: rgb(1, 1, 82);
}
.info-cartas-marron {
  background-color: rgb(238, 225, 211);
  margin: 2px auto;
  gap: 15px;
  width: 90%;
  height: 95%;
  border-radius: 10px;
  cursor: pointer;
}
.info-cartas-marron:hover {
  position: relative;
  bottom: 20px;
  right: 20px;
  opacity: 0.8;
}
.info-cartas-marron img {
  margin: 1px;
  padding: 3px;
  width: 33px;
  height: 33px;
  border-radius: 40px;
}
.info-cartas-marron i {
  display: flex;
  justify-content: flex-end;
  margin-top: -33px;
  margin-bottom: 25px;
  padding-right: 10px;
}
.info-cartas-marron span {
  padding-left: 20px;
  color: rgb(82, 60, 1);
  font-size: 13px;
  font-weight: bold;
}
.info-cartas-marron p {
  margin-top: -4px;
  padding: 6px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: rgb(190, 132, 65);
}
