* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)),
    url(../image/dune.png) no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  height: 100vh;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
header {
  padding: 8px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
  color: white;
}
.navbar-left {
  display: flex;
  align-items: center;
}
.navbar-left img {
  height: 65px;
  width: 70px;
  cursor: pointer;
}
.navbar-left ul {
  display: flex;
  gap: 18px;
  font-size: 13px;
}
.navbar-right {
  display: flex;
  gap: 22px;
  color: white;
  align-items: center;
  font-size: 14px;
  padding-right: 16px;
}
.navbar-right li {
  cursor: pointer;
}
main {
  display: flex;
}
.info-movie {
  width: 60%;
  position: absolute;
  bottom: 4rem;
  padding: 0 70px;
}

.info-movie h1 {
  font-size: 100px;
  color: white;
}
.info-extras {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 53px;
  color: rgb(241, 242, 246);
  align-items: baseline;
}
#qualification-movie {
  font-size: 16px;
}
#qualification-movie i {
  color: #ffee00;
  font-size: 13px;
}
#qualification-movie span {
  font-size: 12px;
}
#qualification-movie span::before {
  content: "|";
}
#extras-movie {
  font-size: 14px;
}
#extras-movie span {
  padding: 0px;
}
#extras-movie span::before,
#extras-movie span::after {
  content: " • ";
  font-size: 18px;
  padding: 0 8px;
}
.info-movie p {
  color: #f1f2f6;
  max-width: 565px;
  font-size: 16.3px;
  margin: 20px 0;
}

#buttons-info {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}
#buttons-info button {
  padding: 16px 37px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
#buttons-info button:nth-of-type(1) {
  background-color: #0000ff;
  color: white;
}
#buttons-info button:nth-of-type(1) i {
  padding-right: 10px;
}
#buttons-info button:nth-of-type(2) {
  background-color: #838383be;
  color: white;
}
.info-actors {
  width: 40%;
  position: absolute;
  bottom: 4rem;
  right: 0;
  color: white;
}
#posters-container {
  margin-bottom: 40px;
}

#posters-container h2,
#actors-container h2 {
  margin: 0.9rem 0;
  font-weight: 100;
}
#posters-container ul {
  display: flex;
  gap: 20px;
  object-fit: cover;
}
#posters-container img {
  height: 80px;
  width: 121px;
  border-radius: 15px;
  cursor: pointer;
}

#actors-container ul {
  display: flex;
  gap: 10px;
  align-items: baseline;
  text-align: center;
  max-width: 250px;
  object-fit: cover;
}
#actors-container li {
  margin: 0 10px;
}
#actors-container img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  filter: grayscale(100%);
}
#actors-container p {
  margin-top: 5px;
  font-size: 11px;
}

#actors-container li:nth-of-type(6) {
  padding: 10px;
  margin: auto;
  border-radius: 50%;
  font-size: 13px;
  background-color: #838383be;
  color: white;
}
