* {
  font-family: sans-serif;
  color: #3c4043;
  box-sizing: border-box;
}

/* Main components */

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr 2fr 1fr;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

/* Nav-header */
#nav-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

#nav-header a {
  text-decoration: none;
  padding: 2vh 1vw;
  font-size: 0.8em;
}

#nav-header a:hover {
  text-decoration: underline;
}

/* google sign */
#google-sign {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

img {
  display: inline-block;
  margin: 0 auto;
}

/* search */

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#search {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
  border: 1px solid #dfe1e5;
  width: auto;
  max-width: 600px;
  margin: 0 50px;
  height: 40px;
}

#search:hover {
  box-shadow: 0 1px 1px 1px #dfe1e5;
}

#search img {
  height: 20px;
  width: auto;
  padding: 10px auto;
  margin: 5px 10px;
}
#search-img {
  margin-left: 20px !important;
  height: 15px !important;
}
#cam-img {
  margin-right: 20px !important;
}
input[type="search"]:focus {
  outline: none;
}
input[type="search"] {
  min-width: 300px;
  max-width: 450px;
  width: 50vw;
  border: none;
}

#button-div {
  margin: 40px 0;
}

#button-div button {
  margin: 5px;
  border: none;
  background-color: #f8f9fa;
  height: 30px;
  color: #3c4043;
  border-radius: 5px;
}

#button-div button:hover {
  box-shadow: 1px 1px 1px 1px #dfe1e5;
  cursor: pointer;
}

#button-div button:visited {
  border: solid blue;
}
/* under form */

/* footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.9em;
  grid-row: 5/6;
}

#country,
#nav-footer {
  height: auto;
  min-height: 50px;
  background-color: #f2f2f2;
  color: #3c4043;
}

#country {
  border-bottom: solid 2px #e6e7e9;
  display: flex;
  align-items: center;
}
#country p {
  margin-left: 30px;
}
#nav-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
#nav-footer a {
  text-decoration: none;
  padding: 2vh 1vw;
}

#nav-footer a:hover {
  text-decoration: underline;
}

#nav-footer-l ul {
  padding-left: 35px;
}
