* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #f3f3f3;
}

header {
  height: 140px;
}
li {
  list-style-type: none;
}
button {
  cursor: pointer;
}
header a {
  text-decoration: none;
}
header a:hover {
  text-decoration: underline;
}
.navbar-up {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}
.navbar-up ul {
  display: flex;
  gap: 2rem;
  justify-content: start;
}
.navbar-up li {
  cursor: pointer;
}
.navbar-up figure {
  display: grid;
  justify-content: center;
}
.navbar-up img {
  width: 130px;
  cursor: pointer;
}
#botones-navbar-up {
  display: flex;
  gap: 5px;
  justify-content: end;
}
#botones-navbar-up button {
  font-weight: 600;
  border: none;
  background-color: #f3f3f3;
  padding: 10px 25px;
  cursor: pointer;
}
#botones-navbar-up button:nth-of-type(2) {
  border: 1px solid rgb(185, 185, 185);
}
.navbar-down {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(185, 185, 185);
  padding: 0 1rem;
}
#date-container,
#button-extra {
  width: 10%;
}
#date-container p {
  font-size: 14px;
  margin-top: 5px;
}
#date-container span {
  font-weight: bold;
  font-size: 15px;
}
.navbar-down ul {
  display: flex;
  gap: 10px;
  width: 85%;
  justify-content: space-between;
}
.navbar-down a {
  font-size: 15px;
  color: gray;
}
.navbar-down a:hover {
  text-decoration: underline;
}
#button-extra p {
  font-size: 40px;
  text-align: center;
  color: white;
  background-color: black;
  margin: 0 30px;
  padding-bottom: 20px;
  cursor: pointer;
}
.navbar-info {
  height: 28px;
}
.navbar-info ul {
  display: flex;
  padding: 0 1rem;
  gap: 20px;
  align-items: baseline;
}
.navbar-info li:nth-of-type(1) {
  font-size: 25px;
  font-weight: 550;
  font-family: "Times New Roman", Times, serif;
}
.navbar-info a {
  color: gray;
}
.info-sections {
  margin: 20px 35px 20px 0;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#section-letf img {
  width: 200px;
  height: 130px;
}
#section-letf #date-info,
#section-center #date-info {
  margin: 15px 0;
  display: flex;
  align-items: center;
  font-size: 12px;
}
#section-letf #date-info p,
#section-center #date-info p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}
#section-letf #date-info p:nth-of-type(1),
#section-center #date-info p:nth-of-type(1) {
  padding: 10px 15px;
  background-color: black;
  color: white;
}
#section-letf #date-info p:nth-of-type(2),
#section-center #date-info p:nth-of-type(2) {
  padding: 10px 25px;
  font-weight: 550;
  color: black;
}
#section-letf h1 {
  max-width: 400px;
  margin-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
  font-size: 28px;
  font-weight: bolder;
  line-height: 35px;
}

#section-letf p {
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  color: gray;
  line-height: 21px;
  max-width: 450px;
}
#section-letf button {
  color: gray;
  margin-top: 20px;
  background-color: #f3f3f3;
  border: none;
  border-bottom: 1px solid rgb(184, 184, 184);
  padding-bottom: 10px;
}
#section-center {
  padding: 0px 30px;
}
#section-center {
  border-left: 1px solid rgb(184, 184, 184);
  border-right: 1px solid rgb(184, 184, 184);
}
#section-center div:nth-of-type(1) {
  margin-bottom: 30px;
}
#section-center div:nth-of-type(1) h2:nth-of-type(1) {
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
  margin-bottom: 20px;
}
#section-center div:nth-of-type(1) h2:nth-of-type(2) {
  font-family: "Times New Roman", Times, serif;
  max-width: 400px;
  font-size: 20px;
}
#section-center div:nth-of-type(2) h2:nth-of-type(1) {
  font-family: "Times New Roman", Times, serif;
  max-width: 400px;
  font-size: 21px;
}
#section-center button,
#section-right button {
  color: gray;
  margin-top: 9px;
  background-color: #f3f3f3;
  border: none;
  border-bottom: 1px solid rgb(184, 184, 184);
  padding-bottom: 10px;
}
#section-center div:nth-of-type(2) ul {
  margin-top: 25px;
  display: flex;
  font-size: 7px;
  gap: 10px;
  color: rgb(184, 184, 184);
}
#section-center div:nth-of-type(2) ul li:hover {
  border: 1px solid black;
  border-radius: 50%;
}
#section-right {
  padding-left: 20px;
}
#section-right h2:nth-of-type(1) {
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
  margin-bottom: 20px;
}

#info-section-right {
  display: grid;
  grid-template-columns: repeat(2, 70% 30%);
  gap: 10px;
  margin-bottom: 10px;
}
#info-section-right div {
  max-width: 200px;
}
#info-section-right img {
  width: 110px;
  height: 100px;
}
#info-section-right h3 {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  margin-bottom: 10px;
}
#info-section-right p {
  font-size: 12px;
  color: gray;
}
footer {
  padding: 1rem 1rem;
  margin-top: 25px;
  border-top: 1px solid rgb(184, 184, 184);
}
footer nav {
  display: flex;
  gap: 50px;
}
footer ul {
  display: flex;
  gap: 30px;
}
footer a {
  font-size: 15px;
  color: gray;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

.infor-footer p {
  font-weight: 100;
  font-size: 12px;
}
.infor-footer span {
  display: block;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}
.infor-footer-extra {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
}
.info-extra {
  position: relative;
  padding: 15px;
  color: white;
}
.info-extra h4 {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 10px;
}
.info-extra h4 span:nth-of-type(1) {
  margin-left: 7px;
  font-weight: 100;
  font-size: 10px;
}
.info-extra p {
  font-size: 11px;
  margin-bottom: 10px;
}
.info-extra span:nth-of-type(1) {
  font-size: 10px;
  font-weight: 600;
}
.info-extra i {
  margin-right: 5px;
}
.info-extra img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 50px;
  filter: brightness(100);
}
.rojo {
  background-color: #c82b43;
}
.verde {
  background-color: #37733d;
}
.negro {
  background-color: #000000;
}
