* {
  margin: 0;
  padding: 0;
  font-family: Georgia, serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
section {
  width: 768px;
}
h1 {
  width: 768px;
  font-size: 28px;
  font-weight: 400;
  color: #2e2e38;
  line-height: 30px;
  margin-bottom: 30px;
}
section {
  padding: 30px 0 20px 0;
}
section:nth-child(2) {
  margin-bottom: 20px;
  border-top: 1px solid #bcbcc0;
  border-bottom: 1px solid #bcbcc0;
}
section:nth-child(2) p {
  font-weight: bold;
  color: #2e2e38;
  width: 730px;
  font-size: 16px;
}
section:nth-child(2) li {
  padding-left: 10px;
  margin: 20px;
  font-size: 20px;
  color: #2e2e38;
  line-height: 30px;
}
section:nth-child(2) ul {
  margin: 20px 0px 40px 20px;
}
section:nth-child(3) {
  border-bottom: 1px solid #bcbcc0;
}

section:nth-child(3) p:first-of-type::first-letter {
  font-size: 100px;
  color: #2e2e38;
  float: left;
  line-height: 35px;
  margin-right: 15px;
}
section:nth-child(3) p:first-of-type {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
}
section:nth-child(3) p {
  font-size: 20px;
  margin-bottom: 20px;
  color: #2e2e38;
  line-height: 30px;
}
section:nth-child(3) ul {
  font-size: 20px;
  margin: 40px 0px 40px 30px;
  color: #2e2e38;
}

section:nth-child(3) h2 {
  margin: 30px 0;
  color: #2e2e38;
  font-size: 28px;
  font-weight: 300;
  line-height: 36px;
}
section:nth-child(4) {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid #bcbcc0;
}
section:nth-child(4) p {
  color: #2e2e38;
  font-size: 16px;
}
section:nth-child(4) span {
  color: #2e2e38;
  font-size: 120px;
  font-weight: 300;
  margin: 0px 10px;
  font-family: "EYInterstate", sans-serif;
}
section:nth-child(5) {
  border-bottom: 1px solid #bcbcc0;
}
section:nth-child(5) p {
  color: #2e2e38;
  font-size: 20px;
  margin: 0 0 50px 0;
  line-height: 32px;
}
section:nth-child(6) {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid #bcbcc0;
}
section:nth-child(6) p {
  color: #2e2e38;
  font-size: 16px;
}
section:nth-child(6) span {
  color: #2e2e38;
  font-size: 120px;
  font-weight: 300;
  margin: 0px 10px;
  font-family: "EYInterstate", sans-serif;
}
section:nth-child(7) div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(196, 196, 196);
  margin-top: 30px;
  margin-bottom: 80px;
  padding: 0 20px;
}
section:nth-child(7) div div {
  display: flex;
  flex-direction: column;
  color: #2e2e38;
}
section:nth-child(7) div div span {
  font-size: 100px;
  font-family: "EYInterstate", sans-serif;
}
section:nth-child(7) div div p {
  color: #000000;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding: 0 30px;
}
section:nth-child(7) p {
  font-size: 20px;
  line-height: 32px;
  color: #2e2e38;
}
i {
  transform: scale(3.2);
}

section:nth-child(8) div {
  display: flex;
  gap: 20px;
}
section:nth-child(8) p {
  color: #2e2e38;
  font-size: 16px;
  line-height: 20px;
  font-family: "EYInterstate", sans-serif;
  margin: 20px;
}
section:nth-child(8) div div:nth-child(1) {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #bcbcc0;
  border-top: 1px solid #bcbcc0;
}
section:nth-child(8) div div:nth-child(2) {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #bcbcc0;
  border-top: 1px solid #bcbcc0;
}
section:nth-child(8) span {
  color: #2e2e38;
  font-size: 120px;
  font-weight: 300;
  margin-left: 20px;
  font-family: "EYInterstate", sans-serif;
}
section:nth-child(9) {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.75;
}
section:nth-child(10) div {
  display: flex;
  gap: 20px;
}
section:nth-child(10) p {
  color: #2e2e38;
  font-size: 16px;
  line-height: 20px;
  font-family: "EYInterstate", sans-serif;
  margin: 20px;
}
section:nth-child(10) div div:nth-child(1) {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #bcbcc0;
  border-top: 1px solid #bcbcc0;
}
section:nth-child(10) div div:nth-child(2) {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #bcbcc0;
  border-top: 1px solid #bcbcc0;
}
section:nth-child(10) span {
  color: #2e2e38;
  font-size: 120px;
  font-weight: 300;
  margin-left: 20px;
  font-family: "EYInterstate", sans-serif;
}
section:nth-child(11) h2 {
  margin-bottom: 20px;
  padding: 0;
  color: #2e2e38;
  font-size: 30px;
  line-height: 50px;
  font-weight: 300;
}
section:nth-child(11) p {
  margin-bottom: 20px;
  padding: 0;
  color: #2e2e38;
  line-height: 30px;
  font-size: 20px;
}
section:nth-child(11) li {
  padding-left: 10px;
  margin: 20px;
  font-size: 20px;
  color: #2e2e38;
  line-height: 30px;
}
section:nth-child(11) ul {
  margin: 10px 60px 40px 20px;
}
section:nth-child(11) div {
  display: flex;
}
section:nth-child(11) div div:nth-child(2) {
  margin-bottom: 20px;
  border-top: 2px solid #bcbcc0;
  width: 600px;
  transform: translateY(-20px);
  display: flex;
  flex-direction: column;
  gap: 5px;
}
section:nth-child(11) div div:nth-child(2) h2 {
  line-height: 30px;
  margin-top: 20px;
}
section:nth-child(11) div div:nth-child(2) a {
  text-decoration: none;
  color: #2e2e38;
  font-weight: 700;
  font-size: 17px;
}
section:nth-child(11) div div:nth-child(2) a:nth-child(2):hover {
  border-bottom: 1px solid #000000;

  width: 200px;
}
section:nth-child(11) div div:nth-child(2) a:nth-child(4):hover {
  border-bottom: 1px solid #000000;
  width: 85px;
}
section:nth-child(11) div div:nth-child(2) p {
  color: #2e2e38;
  font-size: 15px;
  line-height: 24px;
  color: #747480;
}
