/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: gray;
}

:root {
  --text-col: white;
  --text-light-blue: #72ccfe;
  --border-rad: 20px;
}

body {
  width: 100vw;
  margin: 0px;
  padding: 0px;
  background: #000918;
  color: var(--text-col);
  border-radius: var(--border-rad);
}

#upper-section {
  height: 300px;
  width: 90%;
  border-radius: var(--border-rad);
  background: linear-gradient(to bottom, #15bdf6, #1266f2);
  color: var(--text-col);
  margin: 20px auto 0 auto;
  box-shadow: 0px 10px 5px 0px #073e8c;
}

/* header components */
nav {
  display: grid;
  grid-template-rows: 2fr 1fr;
  height: 60px;
  padding-top: 20px;
}

header ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
}

header ul li {
  list-style-type: none;
}
header ul li:nth-of-type(2) {
  display: flex;
  justify-content: center;
}

header ul li:nth-of-type(3) {
  display: flex;
  justify-content: flex-end;
}

header ul li p {
  color: var(--text-col);
  font-size: 1.5rem;
}
header ul li i {
  color: var(--text-col);
  margin: 0 10px;
  font-size: 1.5rem;
  align-self: center;
}
header ul button {
  background-color: transparent;
  border: none;
}

header ul li:first-of-type button {
  background-color: transparent;
  border: solid var(--text-col) 1px;
  width: 30px;
  height: 30px;
  color: var(--text-col);
  border-radius: 50%;
}

button:hover,
a:hover {
  cursor: pointer;
}
/* main components */

main img {
  display: block;
  width: 100px;
  margin: 0 auto;
}

main > section:first-of-type {
  align-items: center;
  justify-content: space-around;

  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px auto 10px auto;
}

main > section:first-of-type p:first-of-type {
  color: var(--text-col);
  font-size: 1.2rem;
}

main > section:first-of-type p:nth-of-type(2) {
  color: var(--text-col);
  font-size: 4rem;
}

main > section:first-of-type span {
  color: var(--text-light-blue);
  font-size: 2rem;
}

main > section:first-of-type p:last-of-type {
  color: var(--text-light-blue);
  font-size: 1rem;
}
main > hr {
  width: 90%;
  align-self: center;
  margin: 5px auto;
}

main > section:last-of-type {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.weather-details {
  width: 120px;
  margin: 10px;
  color: var(--text-light-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-details i {
  font-size: 1rem;
  color: var(--text-light-blue);
  margin: 10px auto;
  display: block;
}

.weather-details p:first-of-type {
  font-size: 0.6rem;
  color: white;
  text-align: center;
}

.weather-details p:last-of-type {
  font-size: 0.6rem;
  color: var(--text-light-blue);
  text-align: center;
}

/* lower-section components */
#lower-section {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  margin: 0 auto;
  width: 90vw;
}

.weather-day:first-of-type {
  margin-top: 30px;
}

.weather-day {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 40px;
  margin: 10px auto;
}

.weather-day > p:last-of-type {
  color: var(--text-col);
}

.weather-day > section {
  display: flex;
}

.weather-day > section > i:first-of-type {
  color: white;
  margin: 0 5px;
  font-size: 1.5rem;
}

.weather-day:nth-of-type(5) > section > i:first-of-type {
  color: gold;
}

@media screen {
  body {
    width: 425px;
  }
  #upper-section,
  #lower-section,
  main,
  header {
    width: 382px;
  }
}
