/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: gray;
}

:root {
  --text-col: white;
  --text-light-blue: #72ccfe;
  --border-rad: 20px;
}

body {
  width: 100vw;
  margin: 0px;
  padding: 0px;
  background: #000918;
  color: var(--text-col);
  border-radius: var(--border-rad);
}

@media screen {
  body {
    width: 425px;
  }
  #upper-section,
  #lower-section,
  main,
  header {
    width: 382px;
  }
}
#upper-section {
  height: 600px;
  width: 90%;
  max-width: 425px;
  border-radius: var(--border-rad);
  background: linear-gradient(to bottom, #15bdf6, #1266f2);
  color: var(--text-col);
  margin: 20px auto 0 auto;
  box-shadow: 0px 10px 5px 0px #073e8c;
}

/* header components */
nav {
  display: grid;
  grid-template-rows: 2fr 1fr;
  height: 90px;
  padding-top: 20px;
}

header ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
}

header ul li {
  list-style-type: none;
}
header ul li:nth-of-type(2) {
  display: flex;
  justify-content: center;
}

header ul li:nth-of-type(3) {
  display: flex;
  justify-content: flex-end;
}

header ul li p {
  color: var(--text-col);
  font-size: 1.5rem;
}
header ul li i {
  color: var(--text-col);
  margin: 0 10px;
  font-size: 1.5rem;
  align-self: center;
}
header ul button {
  background-color: transparent;
  border: none;
}

nav > p {
  border: solid var(--text-light-blue) 2px;
  padding: 0 15px;
  border-radius: 20px;
  margin: 0 auto;
  color: var(--text-col);
  font-size: 0.7rem;
  line-height: 1rem;
}

nav > p::before {
  content: "•";
  margin-right: 5px;
  font-size: 1rem;
  color: #a9ff03;
}

button:hover,
a:hover {
  cursor: pointer;
}

/* main components */

main {
  max-width: 382px;
}

main > img {
  display: block;
  width: 60%;
  margin: 20px auto 10px auto;
}

main > p {
  margin: 5px auto;
  color: var(--text-col);
  font-size: 1.5rem;
  text-align: center;
}

main > section > p:first-of-type {
  font-size: 6rem;
  color: var(--text-col);
}

main > section > p:nth-of-type(2) {
  font-size: 3rem;
  position: absolute;
  left: 270px;
  float: right;
  display: block;
  color: var(--text-light-blue);
}

main > section:first-of-type {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
main > time {
  display: block;
  margin: 5px auto;
  text-align: center;
  font-size: 0.6rem;
  color: var(--text-light-blue);
}
main > hr {
  width: 90%;
  align-self: center;
  margin: 5px auto;
}

main > section:last-of-type {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.weather-details {
  width: 120px;
  margin: 10px;
  color: var(--text-light-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-details i {
  font-size: 1rem;
  color: var(--text-light-blue);
  margin: 10px auto;
  display: block;
}

.weather-details p:first-of-type {
  font-size: 0.6rem;
  color: white;
  text-align: center;
}

.weather-details p:last-of-type {
  font-size: 0.6rem;
  color: var(--text-light-blue);
  text-align: center;
}

/* lower-section components */
#lower-section {
  display: grid;
  grid-template-rows: 1fr 2fr;
  margin: 0 auto;
}

#lower-section > section:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px 10px 20px;
}

#lower-section > section:nth-of-type(1) > p {
  color: var(--text-col);
  font-size: 1.2rem;
}

#lower-section > section:nth-of-type(1) > a {
  color: gray;
  font-size: 0.8rem;
}

#lower-section > section:nth-of-type(2) {
  display: flex;
  justify-content: space-evenly;
  padding: 0 20px;
}

.weather-hour {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid gray 2px;
  border-radius: 20px;
  padding: 10px 20px;
}

.weather-hour > p {
  color: var(--text-col);
}

.weather-hour > i {
  margin: 10px auto;
  font-size: 1.5rem;
  color: var(--text-col);
}

.weather-hour:nth-of-type(2) > i {
  color: gold;
}
.weather-hour > time {
  color: gray;
  font-size: 0.6rem;
}

.weather-hour:hover {
  background-color: #15bdf6;
  box-shadow: 0 0 10px 10px #073e8c;
}
