*::selection {
  background-color: #ffe600;
}

* {
  color: #2e2e38;
}

div {
  width: 60%;
  margin: 0 auto 0 auto;
}

h1 {
  font-family: Georgia, serif;
  font-weight: 400;
}

section strong {
  font-weight: 700;
  font-family: Georgia, serif;
}

section li {
  font-size: 1.3rem;
  font-family: Georgia, serif;
  font-weight: 400;
  line-height: 32px;
  font-style: italic;
}

main section p {
  font-size: 1.3rem;
  font-family: Georgia, serif;
  font-weight: 400;
  line-height: 32px;
}

main section h2 {
  font-size: 2rem;
  font-family: Georgia, serif;
  font-weight: 400;
  line-height: 32px;
}

main section:first-of-type::first-letter {
  font-size: 6rem;
  line-height: 50px;
  float: left;
  margin-right: 19px;
  margin-top: 5px;
}

article mark {
  font-size: 8vw;
  background-color: white;
  font-family: arial;
  margin-top: 20px;
  margin-bottom: 20px;
}

article {
  font-family: Georgia, serif;
  margin-top: 20px;
  margin-bottom: 20px;
}

main :nth-child(4) article {
  background-color: #c4c4c4;
  width: 100%;
}

main :nth-child(4) article div {
  /* margin-left: 5%; */
  width: 44%;
  display: inline-block;
  margin: 0;
}

main :nth-child(4) article div:nth-child(2) {
  margin: 0;
  width: 10%;
  display: inline-block;
}

main :nth-child(4) article div:nth-child(2) img {
  width: 50%;
}

main :nth-child(4) article div b {
  font-size: 1vw;
  margin-top: 0px;
  line-height: 1em;
  display: block;
  height: 5em;
  text-align: center;
}

main :nth-child(4) article div mark {
  font-size: 3vw;
  background-color: transparent;
  text-align: center;
  display: block;
  padding: 0%;
}

main :nth-child(4) article div mark:hover {
  font-size: 4vw;
  background-color: transparent;
  color: #ffe600;
}

section > div {
  width: 100%;
  margin-left: 0%;
}

article > div {
  width: 40%;
  margin-left: 5%;

  display: inline-block;
}

section > span {
  position: relative;
  float: right;
  width: 40%;
  font-family: "EYInterstate", sans-serif;
  clear: both;
  display: block;
  padding: 5%;
  line-height: 0.2em;
}

span p:first-of-type {
  font-size: 3vw;
  margin-top: 10px;
  line-height: 1em;
}

span a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1vw;
}

span a:first-of-type {
  font-size: 1.5vw;
}

span a:hover {
  text-decoration: underline;
}

span p:last-of-type {
  font-size: 1vw;
  line-height: 1.5em;
}
