* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  height: 100vh;
}
header {
  height: 50px;
}
nav {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 30px;
}
nav li {
  list-style-type: none;
}
nav li a {
  text-decoration: none;
  color: #27187e;
}
nav li a i {
  font-size: 12px;
}
nav figure img {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
nav button {
  padding: 10px 16px;
  font-size: 15px;
  color: white;
  background-color: #514fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
figure img {
  width: 400px;
  height: 400px;
}
main {
  display: flex;
  margin: 40px 0;
  justify-content: space-evenly;
}
.information-container {
  width: 600px;
  text-align: center;
  display: grid;
  text-align: center;
  align-content: space-evenly;
  justify-items: center;
}
.information-container h1 {
  font-size: 68px;
  max-width: 535px;
  color: #100b31;
}
.information-container p {
  font-size: 25px;
  max-width: 480px;
  color: #928eac;
}
#buttons {
  display: flex;
  gap: 30px;
}
.buttons-info {
  padding: 10px 30px 10px 15px;
  gap: 8px;
  background-color: #0000ff;
  border-radius: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.buttons-info i {
  font-size: 25px;
  color: white;
}
#buttons-extra {
  display: inline-block;
  text-align: start;
}
#buttons-extra p {
  font-size: 13px;
  color: rgb(182, 182, 182);
}
#buttons-extra span {
  font-size: 15px;
  font-weight: 600;
  color: white;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
footer img {
  opacity: 0.5;
}
footer img:nth-of-type(1) {
  width: 60px;
  height: 22px;
}
footer img:nth-of-type(2) {
  width: 75px;
  height: 60px;
}
footer img:nth-of-type(3) {
  width: 75px;
  height: 35px;
}
footer img:nth-of-type(4) {
  width: 50px;
  height: 50px;
}
footer img:nth-of-type(5) {
  width: 70px;
  height: 55px;
}
footer img:nth-of-type(6) {
  width: 70px;
  height: 25px;
}
