* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
main {
  margin: 0 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
}
.logo {
  display: flex;
  align-items: center;
}
.logo i {
  font-size: 15px;
  color: #242e32;
}
.logo i:nth-of-type(2) {
  margin-left: -7px;
  z-index: -1;
}
.logo a {
  margin-left: 10px;
  color: #424b61;
  font-size: 14px;
  font-weight: 600;
}
.navegacion {
  visibility: hidden;
}
.icon-bars {
  color: #708086;
  font-size: 10px;
  padding: 8px;
  border: 1px solid #708086;
  border-radius: 2px;
}
section:nth-of-type(1) {
  margin: 40px auto;
}
#titulo-principal h1 {
  color: #242e32;
  font-size: 50px;
  font-weight: lighter;
  max-width: 300px;
}
#titulo-principal img {
  width: 25px;
  height: 25px;
}

.extras {
  margin: 50px auto;
  align-items: center;
  justify-content: space-between;
}

#botones {
  display: flex;
  margin: 50px 0;
  justify-content: space-between;
}

#botones p {
  padding: 15px 35px;
  border-radius: 30px;
  cursor: pointer;
}
#botones p:nth-of-type(1) {
  background-color: #242e32;
  color: white;
}
#botones p:nth-of-type(2) {
  background-color: #bbc5c9;
  color: #242e32;
}
#info-extra {
  justify-content: space-between;

  color: #708086;
  display: flex;
  gap: 35px;
  font-size: 10px;
  font-weight: 600;
}
#info-extra p::before {
  content: "/ ";
}
section:nth-of-type(2) {
  background-color: #242e32;
  padding: 50px 30px;
  position: relative;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
.info-founder {
  order: 2;
}
.founder {
  justify-content: center;
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.founder p:nth-of-type(1) {
  font-size: 25px;
  color: white;
  position: relative;
}
.founder p:nth-of-type(2) {
  font-size: 15px;
  color: gray;
  position: relative;
}
.info-founder img {
  width: 300px;
  height: 400px;
  display: block;
  position: absolute;
  bottom: -50px;
}
.founder img:nth-of-type(1) {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: relative;
  top: 0;
}
.contenido-founder {
  order: 1;
  max-width: 300px;
  min-width: 150px;
  margin-bottom: 40px;
}
.contenido-founder h2 {
  color: white;
  font-size: 40px;
  font-weight: lighter;
  margin-bottom: 25px;
}
.contenido-founder p:nth-of-type(1) {
  color: #bbc5c9;
  margin-bottom: 30px;
  line-height: 24px;
}
.contenido-founder p:nth-of-type(2) {
  padding: 15px 35px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 35px;
  cursor: pointer;
}

@media only screen and (min-width: 500px) {
  main {
    margin: 0 11vmax;
    height: 200vh;
  }
  header {
    height: 10vh;
  }
  nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }

  .logo {
    display: flex;
    align-items: center;
  }
  .logo i {
    font-size: 15px;
    color: #242e32;
  }
  .logo i:nth-of-type(2) {
    margin-left: -7px;
    z-index: -1;
  }
  .logo a {
    margin-left: 10px;
    color: #424b61;
    font-size: 19px;
    font-weight: 600;
  }
  .navegacion {
    display: flex;
    align-items: center;
    gap: 50px;
    visibility: visible;
  }
  .navegacion li {
    cursor: pointer;
    font-size: 14px;
  }
  .navegacion a {
    font-weight: 550;
    color: #708086;
  }
  .navegacion li i {
    margin-left: 5px;
    color: #708086;
    font-size: 10px;
  }
  .navegacion a:hover {
    color: #2f3646;
  }
  .icon-bars {
    color: #708086;
    font-size: 15px;
    padding: 10px;
    border: 1px solid #708086;
    border-radius: 2px;
  }
  section:nth-of-type(1) {
    margin: 80px auto;
  }
  #titulo-principal h1 {
    color: #242e32;
    font-size: 65px;
    font-weight: lighter;
    max-width: 550px;
  }
  #titulo-principal img {
    width: 45px;
    height: 45px;
  }
  .extras {
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #botones {
    display: flex;
    gap: 50px;
  }

  #botones p {
    padding: 12px 30px;
    border-radius: 30px;
    cursor: pointer;
  }
  #botones p:nth-of-type(1) {
    background-color: #242e32;
    color: white;
  }
  #botones p:nth-of-type(2) {
    background-color: #bbc5c9;
    color: #242e32;
  }
  #info-extra {
    color: #708086;
    display: flex;
    gap: 35px;
    font-size: 10px;
    font-weight: 600;
  }
  #info-extra p::before {
    content: "/ ";
  }
  section:nth-of-type(2) {
    background-color: #242e32;
    padding: 50px 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: start;
    position: relative;
  }
  .founder {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
  }

  .founder p:nth-of-type(1) {
    font-size: 15px;
    color: white;
    position: relative;
  }
  .founder p:nth-of-type(2) {
    font-size: 10px;
    color: gray;
    position: relative;
  }
  .info-founder img {
    width: 300px;
    height: 450px;
    display: block;
    position: absolute;
    bottom: -95px;
  }
  .founder img:nth-of-type(1) {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    top: 0;
  }
  .contenido-founder {
    max-width: 400px;
  }
  .contenido-founder h2 {
    color: white;
    font-size: 50px;
    font-weight: lighter;
    margin-bottom: 30px;
  }
  .contenido-founder p:nth-of-type(1) {
    color: #bbc5c9;
    margin-bottom: 30px;
    line-height: 24px;
  }
  .contenido-founder p:nth-of-type(2) {
    display: inline-block;
    padding: 15px 35px;
    background-color: #ffffff;
    border-radius: 35px;
    cursor: pointer;
  }
}
