/* General */
* {
  font-family: sans-serif;
  color: black;
}

:root {
  --size: 400px;
  --coltext: #fefefe;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #2f434e;
}

/* body components */
header {
  background-color: black;
  width: 100%;
  height: 8vh;
}

main {
  background: linear-gradient(black 0%, black 70%, white 70%, white 100%);
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 auto 0 auto;
  overflow: hidden;
}

footer {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* main components */

#title {
  width: 50vw;
  margin: 10vh auto 0 auto;
}

#intro {
  text-transform: uppercase;
  color: #535353;
  font-size: 12px;
}

h1 {
  color: var(--coltext);
  font-weight: normal;
  font-size: 36px;
  margin-top: 0;
}

h1 a {
  font-weight: bold;
  color: var(--coltext);
}

h1 a:hover {
  cursor: pointer;
}

h1 i {
  color: var(--coltext);
}

#call-to-action {
  width: 30vw;
  margin: 8vh auto 0 auto;
}

#call-to-action p {
  color: lightgray;
  font-size: 12px;
  line-height: 1.5em;
}

.fa-long-arrow-right {
  transform: rotate(-45deg);
}

#call-to-action button {
  color: var(--coltext);
  border-radius: 5px;
  border: none;
  margin: 2%;
  padding: 2%;
  font-size: 12px;
}

#call-to-action button:first-of-type {
  background-color: #0061ff;
}

#call-to-action button:last-of-type {
  background-color: #282828;
}

#call-to-action i {
  color: var(--coltext);
}

@media screen and (max-width: 700px) {
  #title {
    width: 80vw;
  }
  #call-to-action {
    width: 80vw;
    margin-top: 0;
  }
  #intro {
    font-size: 9px;
  }

  h1 {
    color: var(--coltext);
    font-weight: normal;
    font-size: 24px;
  }

  #call-to-action p {
    font-size: 12px;
  }

  #call-to-action button {
    font-size: 12px;
  }

  main {
    background: linear-gradient(black 0%, black 80%, white 80%, white 100%);
  }
}
/* image styles */

img {
  width: 70%;
  margin: 5vw;
}

picture img {
  border-radius: 10px;
}

picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
nav img {
  width: 30px;
  margin: 1vw;
  height: auto;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
ul hr {
  width: min(3vw, 4vh);
  transform: rotate(90deg);
}

nav li a {
  color: gray;
  font-size: 12px;
  margin: 1vw;
  text-decoration: none;
}

nav li:first-of-type a {
  color: white;
}

#new-button {
  color: var(--coltext);
  border-radius: 1vw;
  border: none;
  margin: 2%;
  padding: 1% 3% 1% 3%;
  font-size: 10px;
  background-color: red;
}

#sign-up-button {
  color: var(--coltext);
  border-radius: 5px;
  border: none;
  margin: 2%;
  padding: 0.5% 3% 0.5% 3%;
  font-size: 12px;
  cursor: pointer;
  background-color: #0061ff;
}

#toggle {
  position: absolute;
}

#toggle i {
  display: none;
}

@media only screen and (max-width: 700px) {
  nav ul,
  nav > button {
    display: none;
  }

  #toggle {
    right: 5vw;
    top: 5vw;
  }

  #toggle i {
    display: block;
    color: white;
    font-size: 30px;
  }
}
/* footer components */

footer p {
  width: 100%;
  text-align: center;
}

footer img {
  width: 100px;
  margin: 1vw;
  height: auto;
  filter: grayscale(100%);
}

@media only screen and (max-width: 700px) {
  footer img {
    width: 75px;
    margin: 1vw;
    height: auto;
    filter: grayscale(100%);
  }
}
