body {
  margin: 0 auto;
  width: 770px;
  font-family: Georgia, serif;
  color: #2e2e38;
}
h2 {
  font-size: 28px;
  font-weight: 300;
  line-height: 36px;
}
section:nth-child(2) {
  padding: 20px 0;
  border-top: 1px solid rgb(196, 196, 205);
  border-bottom: 1px solid rgb(196, 196, 205);
}
h3:nth-child(1) {
  padding: 33px 0px;
  font-size: 16px;
  font-weight: 700;
  height: auto;
  line-height: 26px;
}
li {
  font-size: 20px;
  padding-left: 10px;
  line-height: 32px;
}
section:nth-child(3) p:nth-of-type(1) {
  font-size: 20px;
  line-height: 32px;
}

section:nth-child(3) p:nth-of-type(1)::first-letter {
  font-size: 100px;
  font-weight: 400;
  line-height: 70px;
  margin-right: 19px;
  margin-top: 5px;
  text-size-adjust: 100%;
}

section:nth-child(3) p:nth-of-type(2) {
  margin: 20px 0px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
section:nth-child(3) p:nth-of-type(3) {
  margin: 20px 0px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
section:nth-child(3) p:nth-of-type(4) {
  margin-bottom: 60px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
section:nth-child(4) p:nth-of-type(1) {
  padding: 30px 0px;
  display: block;
  font-family: EYInterstate, sans-serif;
  font-size: 16px;
  font-weight: 300;
  border-top: 1px solid rgb(196, 196, 205);
  border-bottom: 1px solid rgb(196, 196, 205);
}
section:nth-child(4) span {
  display: block;
  font-size: 120px;
  font-weight: 300;
}
section:nth-child(4) p:nth-of-type(2) {
  padding: 30px 0px;
  font-family: Georgia, serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  border-bottom: 1px solid rgb(196, 196, 205);
}

section:nth-child(4) p:nth-of-type(3) {
  padding: 30px 0px;
  display: block;
  font-family: EYInterstate, sans-serif;
  font-size: 16px;
  font-weight: 300;
  border-bottom: 1px solid rgb(196, 196, 205);
}
section:nth-child(4) p:nth-of-type(4) {
  padding: 20px 0px;
  font-family: Georgia, serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
section:nth-child(5) {
  background-color: rgb(196, 196, 196);
  height: 526px;
  padding: 24px;
  display: flex;
  position: relative;
}
section:nth-child(5) div:nth-of-type(1) {
  background-color: rgb(196, 196, 196);
  width: 50%;
  text-align: center;
  padding-top: 100px;
}
section:nth-child(5) div:nth-of-type(2) {
  background-color: rgb(196, 196, 196);
  width: 50%;
  text-align: center;
  padding-top: 100px;
}
section:nth-child(5) div:nth-of-type(1) p:nth-of-type(1) {
  background-color: rgb(196, 196, 196);
  color: rgb(0, 0, 0);
  padding-top: 100px;
  margin: 1.5rem;
  width: 20rem;
  display: block;
  text-align: start;
  font-family: EYInterstate;
  font-size: 21px;
  font-weight: 700;
}
section:nth-child(5) div:nth-of-type(2) p:nth-of-type(1) {
  background-color: rgb(196, 196, 196);
  color: rgb(0, 0, 0);
  padding-top: 100px;
  margin: 1.5rem;
  width: 20rem;
  display: block;
  text-align: start;
  font-family: EYInterstate;
  font-size: 21px;
  font-weight: 700;
}
section:nth-child(5) span {
  font-size: 48px;
  color: #000000;
  font-family: EYInterstate;
}
section:nth-child(6) p:nth-of-type(1) {
  padding: 30px 0px;
  font-family: Georgia, serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
section:nth-child(6) div:nth-of-type(1) {
  display: flex;
  position: relative;
}
section:nth-child(6) div:nth-of-type(1) p:nth-of-type(1) {
  margin: 20px 10px;
  display: block;
  font-family: EYInterstate, sans-serif;
  font-size: 16px;
  font-weight: 300;
  border-top: 1px solid rgb(196, 196, 205);
  border-bottom: 1px solid rgb(196, 196, 205);
}
section:nth-child(6) div:nth-of-type(1) p:nth-of-type(2) {
  margin: 20px 10px;
  display: block;
  font-family: EYInterstate, sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding: 30px 0px;
  border-top: 1px solid rgb(196, 196, 205);
  border-bottom: 1px solid rgb(196, 196, 205);
}
section:nth-child(6) div:nth-of-type(1) p:nth-of-type(1) span {
  display: block;
  font-size: 120px;
  font-weight: 300;
  padding-top: 50px;
  height: 100px;
}
section:nth-child(6) div:nth-of-type(1) p:nth-of-type(2) span {
  display: block;
  font-size: 120px;
  font-weight: 300;
  padding-top: 50px;
  height: 100px;
}
section:nth-child(6) p:nth-of-type(2) {
  padding: 30px 0px;
  font-family: Georgia, serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
section:nth-child(6) div:nth-of-type(2) {
  display: flex;
  position: relative;
}
section:nth-child(6) div:nth-of-type(2) p:nth-of-type(1) {
  margin: 20px 10px;
  display: block;
  font-family: EYInterstate, sans-serif;
  font-size: 16px;
  font-weight: 300;
  border-top: 1px solid rgb(196, 196, 205);
  border-bottom: 1px solid rgb(196, 196, 205);
}
section:nth-child(6) div:nth-of-type(2) p:nth-of-type(2) {
  margin: 20px 10px;
  display: block;
  font-family: EYInterstate, sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding: 30px 0px;
  border-top: 1px solid rgb(196, 196, 205);
  border-bottom: 1px solid rgb(196, 196, 205);
}
section:nth-child(6) div:nth-of-type(2) p:nth-of-type(1) span {
  display: block;
  font-size: 120px;
  font-weight: 300;
  padding-top: 50px;
  height: 100px;
}
section:nth-child(6) div:nth-of-type(2) p:nth-of-type(2) span {
  display: block;
  font-size: 120px;
  font-weight: 300;
  padding-top: 50px;
  height: 100px;
}
section:nth-of-type(7) h2:nth-of-type(1) {
  font-size: 36px;
  font-weight: 300;
  height: 48px;
  line-height: 48px;
}
section:nth-of-type(7) p:nth-of-type(1) {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
section:nth-of-type(7) p:nth-of-type(2) {
  margin-top: 290px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
section:nth-child(7) div:nth-of-type(1) {
  float: right;
  width: 250px;
  margin-right: 20px;
  margin-top: -290px;
}
section:nth-of-type(7) div:nth-of-type(1) h3 {
  font-family: EYInterstate, sans-serif;
  font-size: 32px;
  font-weight: 300;
  margin-bottom: -25px;
  border-top: 1px solid rgb(196, 196, 205);
}
section:nth-of-type(7) ul {
  float: left;
  margin-right: 300px;
  margin-bottom: 200pxs;
}
section:nth-of-type(7) div:nth-of-type(1) a:hover {
  text-decoration: underline;
}

section:nth-of-type(7) div:nth-of-type(1) a {
  color: rgb(46, 46, 56);
  display: inline;
  font-family: EYInterstate, sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: auto;
  line-height: 22px;
  position: relative;
  text-decoration: none;
}

section:nth-of-type(7) div:nth-of-type(1) p {
  color: rgb(116, 116, 128);
  font-family: EYInterstate, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
