body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: block;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
h1 {
  text-align: center;
}
.formulario {
  margin: 0 auto;
  width: 25rem;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  padding: 1rem;
  margin-top: 5rem;
}
.informacion,
.telefono {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 1rem;
  min-width: 320px;
  padding: 0.5rem 1rem;
  line-height: 1rem;
  font: inherit;
  border: 0.1rem solid black;
  border-radius: 0.25rem;
}
.informacion:invalid,
.telefono:invalid {
  border-color: red;
}
.informacion:valid,
.telefono:valid {
  border-color: green;
}
.terminos {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.3rem;
}
.terminos-text {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.9rem;
}
a:link {
  color: #007bff;
  text-decoration: none;
}
a:visited {
  color: #800080;
  text-decoration: none;
}
a:hover {
  color: #515297;
  text-decoration: underline;
}
a:active {
  color: #ff0000;
}
button {
  padding: 0.8rem;
  border-radius: 0.5rem;
  display: block;
  margin: 0.75rem;
  cursor: pointer;
}

button:disabled {
  background-color: #ebecf0;
  color: #505f79;
  cursor: not-allowed;
}

.terminos:checked + .terminos-text + button {
  background-color: #57d9a3;
  color: #00875a;
  cursor: pointer;
  pointer-events: auto;
}

#terminos-y-condiciones {
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
  margin-top: 50rem;
}
#terminos-y-condiciones:target ~ *,
#terminos-y-condiciones:target {
  background: #deebff;
}
li {
  margin: 2rem;
}
li::marker {
  content: " ◆";
}
li:nth-child(odd)::marker {
  color: #5e6c84;
}
h2 {
  color: #0747a6;
}
