* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 35px;
  font-weight: bold;
  color: #1e90ff;
}
#grid {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(8, 20px);
  gap: 1px;
}
button {
  display: grid;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #00b21d;
  color: #fff;
  border: none;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
}
button:hover {
  background-color: #00530e;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
}
